{% extends "clubby/base_generic.html" %}

{% block content %}
<div style="max-width: 700px;" class="card purple darken-2">  
  <div class="card-image">
    {% if event.picture == blank%}
                <img src="../../../static/clubby/images/event_image.jpeg">
                {% else %}
                <img src={{event.picture}}>
          {% endif %}
    <span class="card-title">{{ event.name }} (<a href="{{ event.club.get_absolute_url }}">{{ event.club.name}}</a>)</span>
  </div>
<div class="card-content">
  <p><strong>Starts:</strong> {{ event.start_date }}</p>
  {% if event.event_type == 'p'  %}
  <p><strong>Type:</strong> Private</p>
  {% elif event.event_type == 'd'  %}
  <p><strong>Type:</strong> Dress Up</p>
  {% elif event.event_type == 'f'  %}
  <p><strong>Type:</strong> Fancy</p>
  {% elif event.event_type == 'c'  %}
  <p><strong>Type:</strong> Casual</p>
  {%endif%}

    <!-- if the owner of the club is the one looking at this page give him the option to edit the event if no atendees are in yet.-->

  {% if missing_tickets %}
  <p class="strong materialize-red" style="font-size: 1.64rem">"We couldn't process {{miss}} tickets, they ran out... sorry :(</p>
  {% endif %}
  {% if max_tickets%}
  <p class="strong materialize-red" style="font-size: 1.64rem">You bought the max ammount of tickets, sorry... :(</p>
  {%endif%}
  {% if user_is_broke %}
    <p class="strong materialize-red" style="font-size: 1.64rem">Man you broke!, add some cash in your profile page</p>
  {%endif%}

  {% if perms.clubby.is_owner%}
    <p><strong>Atendee List:</strong></p><br>
    {% if event.atendees %}
    <ul>
      {% for atendant in event.atendees.all %}
        <li>
          <p style="margin-left: 20px;">{{atendant}}</p>
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no atendants yet.</p>
    {% endif %}
  {% endif %}

  {% if perms.clubby.is_owner%}
    {% if request.user.club.id == event.club.id %}

    <a href="{% url 'create-tickets' event_id=event.pk %}">Create ticket.</a>
    {% endif %}

  {%endif%}
  
  {% if perms.clubby.is_user%}
  <div class="card-action">
    <a class="btn purple darken-4 white-text" href="{% url 'ticket-list' event_id=event.pk %}" >Purchase ticket.</a>
  </div>
  {%endif%}
{% endblock %}

</div>
  

 



    
