{% extends "clubby/base_generic.html" %}
{% block content %}
{% load static %}
{% load i18n %}


<h2 class="header center white-text">Create new event</h2>
<div class="deep-purple darken-4 toast rounded">



  <form action="" method="post">
    {% csrf_token %}
    <div class="input-field">
      {% for e in errors %}
      <div class="card red center">
        <strong class="card-title">{{e}}</strong>
      </div>
      {% endfor %}
      {% if form.non_field_errors %}
      <div class="card red center">
        <strong class="card-title">{{form.non_field_errors}}</strong>
      </div>
      {%endif%}
      <p><strong style="font-size: larger;">{% trans 'Name' %} </strong>{{form.name}}</p>
      <span class="helptext">{{form.name.help_text}}</span>
      <br>
      <br>
      <p><strong style="font-size: larger;">{% trans 'Start date' %} </strong>{{form.start_date}}</p>
      <p><strong style="font-size: larger;">{% trans 'Start time' %} </strong>{{form.start_time}}</p>
      <span class="helptext">{{form.start_time.help_text}}</span>
      <br>
      <br>
      <p><strong style="font-size: larger;">{% trans 'Duration' %} </strong>{{form.duration}}</p>
      <span class="helptext">{{form.duration.help_text}}</span>
      <br>
      <br>
      <p><strong style="font-size: larger;">{% trans 'Picture' %} </strong>{{form.picture}}</p>
      <span class="helptext">{{form.picture.help_text}}</span>
      <br>
      <br>
      <p><strong style="font-size: larger;">{% trans 'Event type' %} </strong>{{form.event_type}}</p>
      
      </div>
    
      <input type="submit" value="{% trans 'Submit' %}" class="btn-large purple darken-4">
  </form>
  
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'clubby/js/materialize.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $(".datepicker").datepicker({
      setDefaultDate: true,
      yearRange: [(new Date()).getFullYear(), (new Date()).getFullYear() + 10],
     defaultDate: new Date(),
     minDate: new Date(),
    maxDate: new Date((new Date).getFullYear() + 10, 1, 1),
     format: "yyyy-mm-dd"
   });
});
</script>
{% endblock %}