{% extends "clubby/base_generic.html" %}
{% block content %}
<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
});
</script>
<h2 class="header center white-text">Create new event</h2>
<div class="deep-purple darken-4 toast rounded">
  
  <form action="" method="post">
    {% csrf_token %}
    <div class="input-field">

      <b>{{form.non_field_errors}}</b>
      <p><b style="font-size: larger;">Name </b>{{form.name}}</p>
      <span class="helptext">{{form.name.help_text}}</span>
      <br>
      <br>
      <p><b style="font-size: larger;">Start date </b>{{form.start_date}}</p>
      <p><b style="font-size: larger;">Start time </b>{{form.start_time}}</p>
      <span class="helptext">{{form.start_time.help_text}}</span>
      <br>
      <br>
      <p><b style="font-size: larger;">Duration </b>{{form.duration}}</p>
      <span class="helptext">{{form.duration.help_text}}</span>
      <br>
      <br>
      <p><b style="font-size: larger;">Picture </b>{{form.picture}}</p>
      <span class="helptext">{{form.picture.help_text}}</span>
      <br>
      <br>
      <p><b style="font-size: larger;">Event type </b>{{form.event_type}}</p>
      
      </div>
    
      <input type="submit" value="Submit" class="btn-large purple darken-4">
  </form>
  
</div>


{% endblock %}