{% extends "clubby/base_generic.html" %}
{% load i18n %}

{% load static %}
{% block content %}
<style>
  [class*="helptext"] {
    font-size: small;
    color: cyan;
  }
</style>
<h1 class="header center white-text">{% trans 'Event List' %}</h1>

<div class="center">
  <div class="deep-purple darken-4 rounded grid-container">
    {%if form%}
    <form action="" method="post">
      {% csrf_token %}
      <p><strong style="font-size: larger;">{%trans 'Start date' %} </strong>{{form.start_date}}</p>
      <span class="helptext">{{form.start_date.help_text}}</span>
      <br>
      <br>
      <p><strong style="font-size: larger;">{%trans 'End date' %} </strong>{{form.end_date}}</p>
      <span class="helptext">{{form.end_date.help_text}}</span>
      <br>
      <input type="submit" value="{% trans 'Search' %}" class="btn-large purple darken-4">
    </form>
    {%endif%}
  {% if object_list %}
  <div class="row">

    {% for event in object_list %}
    <!--
      <li>
        <a href="{{ event.get_absolute_url }}">{{ event.name }}</a> 
      </li>
    -->

    <div class="list col s12 m7">
      <div class="card rounded">
        <div class="card-image">
          {% if event.picture == blank%}
                <img src="../../../static/clubby/images/event_image.jpeg" alt="">
                {% else %}
                <img src={{event.picture}} alt="">
          {% endif %}
        </div>
        <div class="card-content black">
          <span class="card-title">{{ event.name }}</span>
          <em class="small material-icons white-text">domain</em><strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">{% trans 'Club:' %} </strong>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{{event.club}}</span>
          <br/>
          <em class="small material-icons white-text">calendar_today</em><strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;"> {% trans 'Start Date:' %} </strong>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{{event.start_date}}</span>
          </br>
          <em class="small material-icons white-text">access_time</em><strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">{% trans 'Start Time:' %} </strong>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{{event.start_time}}:{{event.start_time_minutes}}h</span>
          <br/>
          <em class="small material-icons white-text">av_timer</em><strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">{% trans 'Duration:' %} </strong>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{{event.duration}} {% trans 'hours' %},{{event.duration_minutes}}m</span>
        </div>
        <div class="card-action black">
          <a href="{{ event.get_absolute_url }}">{% trans 'Navigate to the event' %}</a>
        </div>
      </div>
    </div>
  
    {% endfor %}

  </div>
  {% else %}
    <p>{% trans 'There are no events avaliable.' %}</p>
  {% endif %}
  {% if perms.clubby.is_owner %}
  {% if request.user.club != ''%}
      <a href="{% url 'event-create' %}" class="btn-large purple darken-4 ">{% trans 'Create new event' %}</a>  
  {%endif%}   
  {%endif%}
</div>
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'clubby/js/materialize.js' %}"></script>
<script type="text/javascript">
currDate = new Date()
  $(document).ready(function() {
    $(".datepicker").datepicker({
      setDefaultDate: true,
      yearRange: [(new Date()).getFullYear(), (new Date()).getFullYear() + 10],
     defaultDate: currDate,
     minDate: currDate,
    maxDate: new Date((new Date).getFullYear() + 10, 1, 1),
     format: "yyyy-mm-dd"
   });
});
</script>
{% endblock %}
</div>

