{% extends "clubby/base_generic.html" %}
{% load i18n %}

{% block content %}
<div style="max-width: 700px;" class="card deep-purple darken-4">
  <div class="card-image">
    {% if product.product_type == 'h' %}
    <img style="max-width: 700px;" src="../../../static/clubby/images/hookah.jpg" alt="">
    {% elif product.product_type == 'b' %}
    <img style="max-width: 700px;" src="../../../static/clubby/images/beer.jpg" alt="">
    {% elif product.product_type == 'w'  %}
    <img style="max-width: 700px;" src="../../../static/clubby/images/wine.jpg" alt="">
    {% elif product.product_type == 'k'  %}
    <img style="max-width: 700px;" src="../../../static/clubby/images/snack.jpg" alt="">
    {% elif product.product_type == 'r'  %}
    <img style="max-width: 700px;" src="../../../static/clubby/images/refreshment.jpg" alt="">
    {% elif product.product_type == 'c'  %}
    <img style="max-width: 700px;" src="../../../static/clubby/images/cocktail.jpg" alt="">
    {% elif product.product_type == 's'  %}
    <img style="max-width: 700px;" src="../../../static/clubby/images/shot.jpg" alt="">
    {% elif product.product_type == 'm'  %}
    <img style="max-width: 700px;" src="../../../static/clubby/images/bebidas.jpeg" alt="">
    {% endif %}
    
    
  </div>
  <div class="card-content">
    <span class="card-title">{{ product.name }}</span>
    <p><strong style="font-size: larger;">{% trans 'Price:' %}</strong> {{ product.price }}</p>
  
  {% if product.product_type == 'h'  %}
    <p><strong style="font-size: larger;">{% trans 'Type:' %}</strong> {% trans 'Hookah' %}</p>
  {% elif product.product_type == 'b'  %}
    <p><strong style="font-size: larger;">{% trans 'Type:' %}</strong> {% trans 'Beer' %}</p>
  {% elif product.product_type == 'w'  %}
    <p><strong style="font-size: larger;">{% trans 'Type:' %}</strong> {% trans 'Wine' %}</p>
  {% elif product.product_type == 'k'  %}
    <p><strong style="font-size: larger;">{% trans 'Type:' %}</strong> {% trans 'Snack' %}</p>
  {% elif product.product_type == 'r'  %}
    <p><strong style="font-size: larger;">{% trans 'Type:' %}</strong> {% trans 'Refreshment' %}</p>
  {% elif product.product_type == 'c'  %}
    <p><strong style="font-size: larger;">{% trans 'Type:' %}</strong> {% trans 'Cocktail' %}</p>
  {% elif product.product_type == 's'  %}
    <p><strong style="font-size: larger;">{% trans 'Type:' %}</strong> {% trans 'Shot' %}</p>
  {% elif product.product_type == 'm'  %}
    <p><strong style="font-size: larger;">{% trans 'Type:' %}</strong> {% trans 'Misc' %}.</p>
  {%endif%}
  {% if product.reservation_exclusive %}
    </br>
    <strong>{% trans 'This product is exclusive for reservations' %}</strong>
  {% endif %}
</div>
  
  <!-- this should appear only if its the owner. -->
  {% if product.club.owner == user%}
  <a href="{{ product.pk }}/update/" class="btn-large purple darken-4">{% trans 'edit product' %}</a><br>
  <a href="{{ product.pk }}/delete/" class="btn-large materialize-red darken-3">{% trans 'delete product' %}</a>
  {%endif%}
</div>
{% endblock %}

    
