{% extends "clubby/base_generic.html" %}

{% block content %}
<div style="max-width: 700px;" class="card deep-purple darken-4">
  <div class="card-image">
    {% if product.product_type == 'h' %}
    <img style="max-width: 700px;" src="../../../static/clubby/images/hookah.jpg">
    {% elif product.product_type == 'b' %}
    <img style="max-width: 700px;" src="../../../static/clubby/images/beer.jpg">
    {% elif product.product_type == 'w'  %}
    <img style="max-width: 700px;" src="../../../static/clubby/images/wine.jpg">
    {% elif product.product_type == 'k'  %}
    <img style="max-width: 700px;" src="../../../static/clubby/images/snack.jpg">
    {% elif product.product_type == 'r'  %}
    <img style="max-width: 700px;" src="../../../static/clubby/images/refreshment.jpg">
    {% elif product.product_type == 'c'  %}
    <img style="max-width: 700px;" src="../../../static/clubby/images/cocktail.jpg">
    {% elif product.product_type == 's'  %}
    <img style="max-width: 700px;" src="../../../static/clubby/images/shot.jpg">
    {% elif product.product_type == 'm'  %}
    <img style="max-width: 700px;" src="../../../static/clubby/images/bebidas.jpeg">
    {% endif %}
    <span class="card-title">Name: {{ product.name }}</span>
    
  </div>
  <div class="card-content">
    <p><b style="font-size: larger;">Price:</b> {{ product.price }}</p>
  </div>
  {% if product.product_type == 'h'  %}
    <p><b style="font-size: larger;">Type:</b> Hookah</p>
  {% elif product.product_type == 'b'  %}
    <p><b style="font-size: larger;">Type:</b> Beer</p>
  {% elif product.product_type == 'w'  %}
    <p><b style="font-size: larger;">Type:</b> Wine</p>
  {% elif product.product_type == 'k'  %}
    <p><b style="font-size: larger;">Type:</b> Snack</p>
  {% elif product.product_type == 'r'  %}
    <p><b style="font-size: larger;">Type:</b> Refreshment</p>
  {% elif product.product_type == 'c'  %}
    <p><b style="font-size: larger;">Type:</b> Cocktail</p>
  {% elif product.product_type == 's'  %}
    <p><b style="font-size: larger;">Type:</b> Shot</p>
  {% elif product.product_type == 'm'  %}
    <p><b style="font-size: larger;">Type:</b> Misc.</p>
  {%endif%}
  {% if product.reservation_exclusive %}
    </br>
    <b>This product is exclusive for reservations</b>
  {% endif %}
  
  <!-- this should appear only if its the owner. -->
  {% if product.club.owner == user%}
  <a href="{{ product.pk }}/update/" class="btn-large purple darken-4">edit product</a><br>
  <a href="{{ product.pk }}/delete/" class="btn-large materialize-red darken-3">delete product</a>
  {%endif%}
</div>
{% endblock %}

    
