{% extends "clubby/base_generic.html" %}

{% block content %}
<h1>Product List</h1>
<ul class="collection purple darken-2">

  {% if perms.clubby.is_user %}
  {% for product, form in product_ammount.items %}
  <li class="collection-item purple darken-4 avatar">
    <img alt="" class="circle" src="../../../static/clubby/images/bebidas.jpeg">
    <a style="color: white;" class="title" href="{{ product.get_absolute_url }}">{{ product.name }}</a> -
    ({{product.price}})
    <form action="" method="post">{% csrf_token %} {{form}} <input class="btn purple darken-2" type="submit"
        value="Submit"></form>
  </li>
  <br>
  {% endfor %}
  {% endif %}

  {% if perms.clubby.is_owner %}
  {% if object_list %}
  <ul class="collection-item purple darken-2">
    {% for product in object_list %}
    <li class="collection-item purple darken-4 avatar">
      <img alt="" class="circle" src="../../../static/clubby/images/bebidas.jpeg">
      <a style="color: white;" class="title" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <li class="collection-item purple darken-2">
    <p>There are no products avaliable.</p>
  </li>
  {% endif %}
  <li class="collection-item purple darken-2">
    <a class="btn-large purple darken-4" href="{% url 'product-create' %}">Create new product</a>
  </li>
  {%endif%}
</ul>
{% endblock %}