{% extends "clubby/base_generic.html" %}
{% load i18n %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  [class*="toast"] {
    width: 50%;
  }
  @media only screen and (max-width: 768px) {
  [class*="toast"] {
    width: 100%;
  }
}
</style>

<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
});
</script>
<h2 class="header center white-text">{% trans 'Create new product' %}</h2>
<div class="deep-purple darken-4 toast rounded center" style="margin: auto;">
  
  <form action="" method="post" style="margin: auto;">
    {% csrf_token %}
    
    <div class="input-field">
      {% if form.non_field_errors %}
      <div class="card red center">
        <strong class="card-title">{{form.non_field_errors}}</strong>
      </div>
      {% endif %}
      <p><strong style="font-size: larger;">{% trans 'Name' %} </strong>{{form.name}}</p>
      <span class="helptext">{{form.name.help_text}}</span>
      <br>
      <br>
      
      <p><strong style="font-size: larger;">{% trans 'Price' %} </strong><div class="flex">{{form.price}}<em class="material-icons">euro_symbol</em></div></p>
      <span class="helptext">{{form.price.help_text}}</span>
      <br>
      <br>
      <p><strong style="font-size: larger;">{% trans 'Product type' %} </strong>{{form.product_type}} {{form.product_select}}</p>
      <p>
        <label>
          <input type="checkbox" value="{{form.reservation_exclusive}}
          <span style="color: white;">{% trans 'Reservation exclusive' %}</span>
        </label>
      </p>
      <span class="helptext">{{form.reservation_exclusive.help_text}}</span>
      <br>
      <br>
      </div>
    
      <input type="submit" value="{% trans 'Submit' %}" class="btn-large purple darken-4">
    
  </form>
  
</div>


{% endblock %}