{% extends "clubby/base_generic.html" %}
{% load i18n %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  [class*="toast"] {
    width: 50%;
  }
  @media only screen and (max-width: 768px) {
  [class*="toast"] {
    width: 100%;
  }
}
</style>

<h2 class="header center white-text">{% trans 'Create Club' %}</h2>
<div class="deep-purple darken-4 toast rounded center" style="margin: auto;">
  <form action="" method="post">
    {% csrf_token %}
    <div class="card red center">
      <strong class="card-title">{{form.non_field_errors}}</strong>
    </div>
      <p><strong style="font-size: larger;">{% trans 'Name' %} </strong>{{form.name}}</p>
      <span class="helptext">{{form.name.help_text}}</span>
      <br>
      <br>
      <p><strong style="font-size: larger;">{% trans 'Address' %} </strong>{{form.address}}</p>
      <span class="helptext">{{form.address.help_text}}</span>
      <br>
      <br>
      <p><strong style="font-size: larger;">{% trans 'Max Capacity' %} </strong>{{form.max_capacity}}</p>
      <span class="helptext">{{form.max_capacity.help_text}}</span>
      <br>
      <br>
      <p><strong style="font-size: larger;">{% trans 'NIF' %} </strong>{{form.NIF}}</p>
      <span class="helptext">{{form.NIF.help_text}}</span>
      <br>
      <br>
      <p><strong style="font-size: larger;">{% trans 'Picture' %} </strong>{{form.picture}}</p>
      <span class="helptext">{{form.picture.help_text}}</span>
      <br>
      <br>
      
    <input type="submit" value="{% trans 'Submit' %}" class="btn-large purple darken-4">
  </form>
</div>
{% endblock %}