{% extends "clubby/base_generic.html" %}

{% block content %}
    <div style="max-width: 700px;" class="card deep-purple darken-4">  
      <div class="card-image">
        {% if club.picture == null%}
        <img src="../../../static/clubby/images/background.jpg" alt="background">
        {% else %}
        <img src="{{club.picture}}" alt="picture of the club">
        {% endif %}
        <span class="card-title"> {{ club.name }}</span>
      </div>
    <div class="card-content">
      <p><strong style="font-size: larger;">Address:</strong> {{ club.address }}</p> <!-- author detail link not yet defined -->
      <p><strong style="font-size: larger;">Max Capacity:</strong> {{ club.max_capacity }}</p>
  
    </div>
  <!-- <div style="margin-left:20px;margin-top:20px">
    <h4>Events</h4>

    {% for copy in book.bookinstance_set.all %}
      <hr>
      <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
        {{ copy.get_status_display }}
      </p>
      {% if copy.status != 'a' %}
        <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
      {% endif %}
      <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
      <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
    {% endfor %}
  </div> -->
  
  {% if perms.clubby.is_user %}
    <div class="card-action">
      <a class="btn purple darken-4 white-text" href="{% url 'product-list' club_id=club.pk %}" style="margin-bottom: 50px;">Purchase products.</a>
    </div>
    {%endif%}
  </div>
{% endblock %}


    
