{% extends "clubby/base_generic.html" %}

{% block content %}
<h1 class="header center white-text">Club list</h1>

<form action="" method="post">
  {% csrf_token %}
  {{form}}
  <input type="submit" value="Search" class="btn-large purple darken-4">
</form>


<div class="list center">
  <div class="deep-purple darken-4 toast rounded grid-container">
  {% if object_list %}
  <div class="row">

    {% for club in object_list %}
          <div class="col s12 m7">
            <div class="card rounded">
              <div class="card-image">
                {% if club.picture == null%}
                <img src="../../../static/clubby/images/background.jpg" alt="generic club image">
                {% else %}
                <img src="../../../{{club.picture}}">
                {% endif %}
                
                <span class="card-title">{{ club.name }}</span>
              </div>
              <div class="card-content black">
                <i class="small material-icons white-text">people</i><strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Capacity: </strong>
                <span class="light white-text" style="display: inline-block; vertical-align:top;">{{club.max_capacity}} people  </span>
                <br/>
                <i class="small material-icons white-text">map</i><strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;"> Address: </strong>
                <span class="light white-text" style="display: inline-block; vertical-align:top;">{{club.address}}</span>
              </div>
              <div class="card-action black">
                <a href="{{ club.get_absolute_url }}">Navigate to the club</a>
              </div>
              <div class="card-action black">
                <a href="{% url 'list-rating' club_id=club.pk %}" class="btn-large purple darken-4 ">View ratings</a>         
              </div>
            </div>
          </div>
                
    {% endfor %}
  </div>
  {% else %}
    <p>There are no clubs avaliable.</p>
  {% endif %} 
</div>
</div>
{% endblock %}



