{% extends "clubby/base_generic.html" %}
{% load i18n %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  [class*="center card"] {
    width: 50%;
  }
  @media only screen and (max-width: 768px) {
  [class*="center card"] {
    width: 100%;
  }
}
</style>

<div class="center card deep-purple darken-4" style="margin: auto;">

<span class="card-title">{% trans 'Add ratting' %}</span>
<div class="card-content">  
<form action="" method="post">
    {% csrf_token %}
    <div class="card red center">
      <strong class="card-title">{{form.non_field_errors}}</strong>
    </div>
    <p><strong style="font-size: larger;">{% trans 'Stars' %} </strong>{{form.stars}}</p>
    <p><strong style="font-size: larger;">{% trans 'Text' %} </strong>{{form.text}}</p>

    <input class="btn purple darken-4" type="submit" value="{% trans 'Submit' %}">
  </form>
</div>
  </div
{% endblock %}