{% extends "clubby/base_generic.html" %}
{% load i18n %}
{% block content %}
<div class="center card deep-purple darken-4">

<span class="card-title">{% trans 'Add ratting' %}</span>
<div class="card-content">  
<form action="" method="post">
    {% csrf_token %}
    <div class="card red center">
      <strong class="card-title">{{form.non_field_errors}}</strong>
    </div>
    <p><strong style="font-size: larger;">{% trans 'Stars' %} </strong>{{form.stars}}</p>
    <p><strong style="font-size: larger;">{% trans 'Text' %} </strong>{{form.text}}</p>

    <input class="btn purple darken-4" type="submit" value="{% trans 'Submit' %}">
  </form>
</div>
  </div
{% endblock %}