{% extends "clubby/base_generic.html" %}
{% load i18n %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  [class*="center card"] {
    width: 50%;
  }
  @media only screen and (max-width: 768px) {
  [class*="center card"] {
    width: 100%;
  }
}
</style>

{% if form.errors %}
<div class="red darken-4 center card rounded" style="margin: auto;">
	<!-- Error messaging -->
	<div id="errors" class="center">
		<div class="inner">
			<p>There were some errors in the information you entered. Please correct the following:</p>
			{{ form.non_field_errors }}
			<ul>
				{% for field in form %}
					{% if field.errors %}<li><strong style="font-size: larger;">{{ field.label }}:</strong> {{ field.errors|striptags }}</li>{% endif %}
				{% endfor %}
			</ul>
		</div>
  </div>
  <br>
  <!-- /Error messaging -->
</div>
{% endif %}

<div class="center card deep-purple darken-4" style="margin: auto;">

<span class="card-title">{% trans 'Add ratting' %}</span>
<div class="card-content">  
<form action="" method="post">
    {% csrf_token %}
    <div class="card red center">
      <strong class="card-title">{{form.non_field_errors}}</strong>
    </div>
    <p><strong style="font-size: larger;">{% trans 'Stars' %} </strong>{{form.stars}}</p>
    <p><strong style="font-size: larger;">{% trans 'Text' %} </strong>{{form.text}}</p>

    <input class="btn purple darken-4" type="submit" value="{% trans 'Submit' %}">
  </form>
</div>
  </div
{% endblock %}