{% extends "clubby/base_generic.html" %}

{% block content %}
<h1 class="header center white-text">Club Rating</h1>

{% if listU %}
<div class="list center">
  <div class="deep-purple darken-4 toast rounded grid-container">
    <div class="row">

      {% for rating in listU %}
      <div class="col s12 m7">
        <div class="card rounded">
          <span class="black">My opinion</span>
          <div class="card-content black">
                <i class="small material-icons white-text">calendar_today</i><span class="light white-text" style="display: inline-block; vertical-align:top;">Date: </span>
                <span class="light white-text" style="display: inline-block; vertical-align:top;">{{rating.fecha}}</span>
                <br/>
                <i class="small material-icons white-text">stars</i><span class="light white-text" style="display: inline-block; vertical-align:top;">Rating: </span>
                <span class="light white-text" style="display: inline-block; vertical-align:top;">{{rating.stars}} stars</span>
                <br/>
                <i class="small material-icons white-text">comment</i><span class="light white-text" style="display: inline-block; vertical-align:top;">Opinion: </span>
                <span class="light white-text" style="display: inline-block; vertical-align:top;">{{rating.text}}</span>
                <br/>      
            </div>
            <div class="card-action black">
              <a href="{% url 'create-rating' club_id=club_id %}">Update rating</a>
            </div>
            </div>
          </div>
                  
      {% endfor %}
    </div>
  </div>
</div>
{% else %}
<div class="center">
  <a href="{% url 'create-rating' club_id=club_id %}" class="btn-large purple darken-4 ">Add rating</a>
</div>
{% endif %}
<br>
<br>
<br>

{% if order == 1 %}
<div class="center">
  <a href="{% url 'list-rating' club_id=club_id order=2 %}" class="btn-large purple darken-4 ">Ordenar por estrellas</a>
</div>
{% endif %} 

{% if order == 2 %}
<div class="center">
  <a href="{% url 'list-rating' club_id=club_id order=1 %}" class="btn-large purple darken-4 ">Ordenar por fecha</a>
</div>
{% endif %} 

<div class="list center">
  <div class="deep-purple darken-4 toast rounded grid-container">
    {% if list %}
    <div class="row">

      {% for rating in list %}          
            <div class="col s12 m7">
              <div class="card rounded">
                <div class="card-content black">
                      <i class="small material-icons white-text">people</i><span class="light white-text" style="display: inline-block; vertical-align:top;">User: </span>
                      <span class="light white-text" style="display: inline-block; vertical-align:top;">{{rating.user.username}}</span>
                      </br>
                      <i class="small material-icons white-text">calendar_today</i><span class="light white-text" style="display: inline-block; vertical-align:top;">Date: </span>
                      <span class="light white-text" style="display: inline-block; vertical-align:top;">{{rating.fecha}}</span>
                      <br/>
                      <i class="small material-icons white-text">stars</i><span class="light white-text" style="display: inline-block; vertical-align:top;">Rating: </span>
                      <span class="light white-text" style="display: inline-block; vertical-align:top;">{{rating.stars}} stars</span>
                      <br/>
                      <i class="small material-icons white-text">comment</i><span class="light white-text" style="display: inline-block; vertical-align:top;">Opinion: </span>
                      <span class="light white-text" style="display: inline-block; vertical-align:top;">{{rating.text}}</span>
                      <br/>      
                  </div>
                  </div>
                </div>
                  
      {% endfor %}
    </div>
    {% else %}
      <br>
      <p>There are no rating yet.</p>
    {% endif %} 
  </div>
</div>
{% endblock %}