body {
    color: white;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

a {
    color: white;
}

a:hover {
    color: white;
}


body {
    /* background: white url("../images/background.jpg") no-repeat;
    background-size: cover; */
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(26, 1, 64, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

input,
select,
textArea {
    color: white;
}



.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.logo_img {
    max-width: 100%;
}

.large-logo {
    width: 180px;
    min-height: 180px;
    max-height: auto;
    float: left;
    padding: 3px;
}

.dropdown-content {
    width: max-content !important;
    height: auto !important;
}

.dropdown-content a:hover {
    background-color: rgb(66, 18, 126);
    color: white;
}

.dropdown-content a {
    background-color: rgb(74, 20, 140);
    color: white;
}

.logo_img_sidenav {
    max-width: 50%;
    max-height: 50%;
}

.icon_logo {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    width: 4rem;
    height: 4rem;
}

.icon_logo_sidenav {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    width: 2rem;
    height: 2rem;
}


.navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bar-icon {
    text-align: center;
}

.bar-icon a {
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.clubDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: #333333;
    width: 90%;
    margin: 0 auto;
}

.desk {
    width: 50%;
    margin: auto;
    text-align: center;
}

.list {
    margin-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}

@media only screen and (max-width: 768px) {
    .desk {
        width: 100%;
        margin: auto;
    }

    .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 300px;
    }
}