{% extends "clubby/base_generic.html" %}
{% load i18n %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  [class*="card"] {
    width: 50%;
  }
  @media only screen and (max-width: 768px) {
  [class*="card"] {
    width: 100%;
  }
}
</style>

  <div class="card deep-purple darken-4 center" style="margin: auto;">
    <h1>{% trans 'Ticket List' %}</h1>
    <ul>
    

      {% for ticket, form in ticket_ammount.items %} 
      <li>
      {{ticket.category}} - ({{ticket.price}}€) - ({{ticket.event}}) 

      {% if ticket.owned > 0 %}
      <p><strong style="font-size: small;">You own: {{ ticket.owned }}</strong></p>
      {% endif %}

      <form action="" method="post">{% csrf_token %} {{form}} 
      <br>
      <input class="btn purple darken-4" type="submit" value="{% trans 'Submit' %}"></form> 
      </li>
      <br>
     
      {% endfor %}
    </ul>
  </div>
{% endblock %}


