{% extends "clubby/base_generic.html" %}
{% load i18n %}
{% block content %}
  {% load qr_code %}
  <div style="min-width: fit-content; max-width: 450px; margin: auto;" class="deep-purple center darken-4 rounded grid-container">
      <div class="card-image rounded">
        <div style="min-width: fit-content;" class="white">
          {% qr_from_text qr_item.get_real_absolute_url size=10 border=6 image_format="png" error_correction="L" %}
        </div>
      </div>
      <div class="card-content">
        {% if qr_item.product != blank %}
          <strong>{% trans 'Club:' %} </strong>{{qr_item.product.club}}<br/}</strong>
          <strong>{% trans 'Product:' %} </strong>{{qr_item.product.name}}<br/>


          <strong>{% trans 'Product Type:' %} </strong>
          {% if qr_item.product.product_type == 'r' %}
            <p>{% trans 'Refreshment' %}</p>
          {% elif qr_item.product.product_type == 'c'%}
            <p>{% trans 'Cocktail' %}</p>
          {% elif qr_item.product.product_type == 's'%}
            <p>{% trans 'Shot' %}</p>
          {% elif qr_item.product.product_type == 'b'%}
            <p>{% trans 'Beer' %}</p>
          {% elif qr_item.product.product_type == 'w'%}
            <p>{% trans 'Wine' %}</p>
          {% elif qr_item.product.product_type == 'k'%}
            <p>{% trans 'Snack' %}</p>
          {% elif qr_item.product.product_type == 'h'%}
            <p>{% trans 'Hookah' %}</p>
          {% elif qr_item.product.product_type == 'm'%}
            <p>{% trans 'Misc.' %}</p>
          {% endif %}

          {% if qr_item.product.reservation_exclusive == True %}
            <strong>{% trans 'Reservation exclusive' %}</strong>
          {% else %}
          <strong>{% trans 'Not exclusive' %}</strong>
        {% endif %}


        </br>



        {% elif qr_item.ticket != blank %}
          <strong>{% trans 'Ticket:' %} </strong>{{qr_item.ticket.event.name}}<br/>
          <strong>{% trans 'Price:' %} </strong>{{qr_item.ticket.price}}€
          </br>
        {% endif %}


        <a class="btn purple darken-4" href="{% url 'my-purchases' %}">{% trans 'Get back to my purchases' %}</a>
      </div>
    </div>
{% endblock %}
