{% extends "clubby/base_generic.html" %}

{% block content %}
  {% if qr_item.product != blank %}
<div class="center">
  <div class="deep-purple darken-4  rounded grid-container">
    <div class="col s12 m7">
      <div style="max-width: 700px; margin: auto;" class="card rounded">
        <div class="card-content black">
            {% if qr_item.product.product_type == 'h' %}
            <img class="responsive-img" style="width: 50%;" src="../../../static/clubby/images/hookah.jpg">
            {% elif qr_item.product.product_type == 'b' %}
            <img class="responsive-img" style="width: 50%;" src="../../../static/clubby/images/beer.jpg">
            {% elif qr_item.product.product_type == 'w'  %}
            <img class="responsive-img" style="width: 50%;" src="../../../static/clubby/images/wine.jpg">
            {% elif qr_item.product.product_type == 'k'  %}
            <img class="responsive-img" style="width: 50%;" src="../../../static/clubby/images/snack.jpg">
            {% elif qr_item.product.product_type == 'r'  %}
            <img class="responsive-img" style="width: 50%;" src="../../../static/clubby/images/refreshment.jpg">
            {% elif qr_item.product.product_type == 'c'  %}
            <img class="responsive-img" style="width: 50%;" src="../../../static/clubby/images/cocktail.jpg">
            {% elif qr_item.product.product_typee == 's'  %}
            <img class="responsive-img" style="width: 50%;" src="../../../static/clubby/images/shot.jpg">
            {% elif qr_item.product.product_type == 'm'  %}
            <img class="responsive-img" style="width: 50%;" src="../../../static/clubby/images/bebidas.jpeg">
            {% endif %}
            <br>
            <br>
            <i class="small material-icons white-text">redeem</i>
            <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Product: </b>
            <span class="light white-text" style="display: inline-block; vertical-align:top;">{{ qr_item.product.name }}</span>
            <br/>
            <i class="small material-icons white-text">attach_money</i>
            <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Price: </b>
            <span class="light white-text" style="display: inline-block; vertical-align:top;">{{ qr_item.product.price }}</span>
            <br/>
            {% if qr_item.product.product_type == 'h'  %}
            <i class="small material-icons white-text">category</i>
            <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Type: </b>
            <span class="light white-text" style="display: inline-block; vertical-align:top;">Hookah</span>
            <br/>
            {%elif qr_item.product.product_type == 'b'  %}
            <i class="small material-icons white-text">category</i>
            <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Type: </b>
            <span class="light white-text" style="display: inline-block; vertical-align:top;">Beer</span>
            <br/>
            {%elif qr_item.product.product_type == 'w'  %}
            <i class="small material-icons white-text">category</i>
            <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Type: </b>
            <span class="light white-text" style="display: inline-block; vertical-align:top;">Wine</span>
            <br/>
            {%elif qr_item.product.product_type == 'k'  %}
            <i class="small material-icons white-text">category</i>
            <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Type: </b>
            <span class="light white-text" style="display: inline-block; vertical-align:top;">Snack</span>
            <br/>
            {%elif qr_item.product.product_type == 'r'  %}
            <i class="small material-icons white-text">category</i>
            <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Type: </b>
            <span class="light white-text" style="display: inline-block; vertical-align:top;">Refreshment</span>
            <br/>
            {%elif qr_item.product.product_type == 'c'  %}
            <i class="small material-icons white-text">category</i>
            <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Type: </b>
            <span class="light white-text" style="display: inline-block; vertical-align:top;">Cocktail</span>
            <br/>
            {%elif qr_item.product.product_type == 's'  %}
            <i class="small material-icons white-text">category</i>
            <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Type: </b>
            <span class="light white-text" style="display: inline-block; vertical-align:top;">Shot</span>
            <br/>
            {%elif qr_item.product.product_type == 'm'  %}
            <i class="small material-icons white-text">category</i>
            <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Type: </b>
            <span class="light white-text" style="display: inline-block; vertical-align:top;">Misc.</span>
            <br/>
            {%endif%}
            <i class="small material-icons white-text">domain</i>
            <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Club: </b>
            <span class="light white-text" style="display: inline-block; vertical-align:top;">{{ qr_item.product.club.name }}</span>
            <br/>
            {% if qr_item.product.reservation_exclusive %}
            <span class="light white-text" style="display: inline-block; vertical-align:top;">THE USER NEED TO HAVE A RESERVATION TO REDEEM THIS PRODUCT</span>
            <br/>
            {% endif %}
          
         
          {% elif qr_item.ticket != blank %}
              {% if event.picture == blank%}
                          <img class="responsive-img" style="width: 50%;" src="../../../static/clubby/images/event_image.jpeg">
                          <br>
                          {% else %}
                          <img class="responsive-img" style="width: 50%;" src={{event.picture}}>
                          <br>
                    {% endif %}
            <i class="small material-icons white-text">group</i>
            <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Event: </b>
            <span class="light white-text" style="display: inline-block; vertical-align:top;">{{ qr_item.ticket.event.name }}</span>
            <br/>
            <i class="small material-icons white-text">attach_money</i>
            <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Price: </b>
            <span class="light white-text" style="display: inline-block; vertical-align:top;">{{ qr_item.ticket.price }}</span>
            <br/>
            <i class="small material-icons white-text">domain</i>
            <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Club: </b>
            <span class="light white-text" style="display: inline-block; vertical-align:top;">{{ qr_item.ticket.event.club.name }}</span>
            <br/>
            <i class="small material-icons white-text">category</i>
            <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Category: </b>
            <span class="light white-text" style="display: inline-block; vertical-align:top;">{{ qr_item.ticket.category }}</span>
            <br/>
            <i class="small material-icons white-text">description</i>
            <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Description: </b>
            <span class="light white-text" style="display: inline-block; vertical-align:top;">{{ qr_item.ticket.description }}</span>
            <br/>
        
          {% endif %}
              {% if qr_item.is_used %}
              <span class="light white-text" style="display: inline-block; vertical-align:top;">The QR has already been used</span>
              {% else %}
                <form action="" method="post">
                {% csrf_token %} 
                {{form}} Are you sure you want to redeem the QR Code?
                </br>
                <input type="submit" class="btn purple darken-4" value="Redeem!">
                </form> 
              {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
  
{% endblock %}