{% extends "clubby/base_generic.html" %}
{% load i18n %}
{% block content %}
  <h1 style="text-align: center;">{% trans 'My History Of Purchases' %}</h1>
  <div style="margin:auto; width: 100%;">
  <div style="max-width: 720px; margin: 0 auto;" class="card center deep-purple darken-4">
    
    {% if list %}
      {% for qr_item in list %}
        <div class="card purple darken-4">
          <div class="card-content">
            {% if qr_item.product != blank %}
              <p>{% trans 'Type: Product' %}</span>
              <p>{% trans 'Details:' %} {{qr_item.product.name}}</p>
              <p>{% trans 'Price:' %} {{qr_item.product.price}}€</p>
              <p>{% trans 'Place:' %} {{qr_item.product.club.name}} - {{qr_item.product.club.address}}</p>
              <p>{% trans 'Purchase Date:' %} {{qr_item.fecha}}</p>
              <p>{% trans 'Expires After:' %} {{qr_item.expiration_date}}</p>
              {% if qr_item.is_used%}
                <p>{% trans 'Used:' %} <em class="small material-icons white-text">done</em></p>
              {% else %}
                <p>{% trans 'Used:' %} <em class="small material-icons white-text">clear</em></p>
              {% endif %}
            
            {% elif qr_item.ticket != blank %}
            <p>{% trans 'Type: Ticket' %}</p>
            <p>{% trans 'Details:' %} {{qr_item.ticket.event.name}} <br/>{% trans 'Start :' %} {{qr_item.ticket.event.start_date}} {{qr_item.ticket.event.start_time}}:{{qr_item.ticket.event.start_time_minutes}}h <br/> {% trans 'Duration:' %} {{qr_item.ticket.event.duration}} {% trans 'Hours' %},{{qr_item.ticket.event.duration_minutes}}m</p>
            <p>{% trans 'Price:' %} {{qr_item.ticket.price}}€</p>
            <p>{% trans 'Place:' %} {{qr_item.ticket.event.club.name}} - {{qr_item.ticket.event.club.address}}</p>
            <p>{% trans 'Purchase Date:' %} {{qr_item.fecha}}</p>
            <p>{% trans 'Expires After:' %} {{qr_item.expiration_date}}</p>
            {% if qr_item.is_used %}
              <p>{% trans 'Used:' %} <em class="small material-icons white-text">done</em></p>
            {% else %}
              <p>{% trans 'Used:' %} </p><em class="small material-icons white-text">clear</em></p>
            {% endif %}
            {%endif%}
          </div>
        </div>
      {% endfor %}
  {% else %}
  <p class="card-content">{% trans 'You have no purchases used' %}</p>
  {% endif %}
  </div>
</div>
  
{% endblock %}