{% extends "clubby/base_generic.html" %}

{% block content %}
  {% load qr_code %}
  <h1 style="text-align: center;">My History Of Purchases</h1>
  <div style="margin:auto; width: 100%;">
  <div style="max-width: 720px; margin: 0 auto;" class="card center deep-purple darken-4">
    
    {% if list %}
      {% for qr_item in list %}
        <div class="card purple darken-4">
          <div class="card-content">
            {% if qr_item.product != blank %}
              <p>Type: Product</span>
              <p>Details: {{qr_item.product.name}}</p>
              <p>Price: {{qr_item.product.price}}</p>
              <p>Place: {{qr_item.product.club.name}} - {{qr_item.product.club.address}}</p>
              <p>Purchase Date: {{qr_item.fecha}}</p>
              <p>Expires After: {{qr_item.expiret}}</p>
              {% if qr_item.timed_out %}
                <p>Expired: <em class="small material-icons white-text">done</em></p>
              {% else %}
                <p>Expired: <em class="small material-icons white-text">clear</em></p>
              {% endif %}
              {% if qr_item.is_used%}
                <p>Used: <em class="small material-icons white-text">done</em></p>
              {% else %}
                <p>Used: <em class="small material-icons white-text">clear</em></p>
              {% endif %}
            
            {% elif qr_item.ticket != blank %}
            <p>Type: Ticket</p>
            <p>Details: {{qr_item.ticket.event.name}} <br/>Start : {{qr_item.start}} <br/> End: {{qr_item.expiret}}</p>
            <p>Price: {{qr_item.ticket.price}}</p>
            <p>Place: {{qr_item.ticket.event.club.name}} - {{qr_item.ticket.event.club.address}}</p>
            <p>Purchase Date: {{qr_item.fecha}}</p>
            <p>Expires After: {{qr_item.expiret}}</p>
            {% if qr_item.timed_out %}
              <p>Expired: <em class="small material-icons white-text">done</em></p>
            {% else %}
              <p>Expired: <em class="small material-icons white-text">clear</em></p>
            {% endif %}
            {% if qr_item.is_used %}
              <p>Used: <em class="small material-icons white-text">done</em></p>
            {% else %}
              <p>Used: </p><em class="small material-icons white-text">clear</em></p>
            {% endif %}
            {%endif%}
          </div>
        </div>
      {% endfor %}
  {% else %}
  <p class="card-content">You have no purchases used</p>
  {% endif %}
  </div>
</div>
  
{% endblock %}
