{% extends "clubby/base_generic.html" %}

{% block content %}
  {% load qr_code %}
  <h1 style="text-align: center;">My Purchases</h1>
  {% if user_is_broke%}
  You dont have enough to buy that, get some moolah in your profile page
  {% endif %}
  {% if object_list %}
  <div class="row">
    <div style="margin: auto" class="center-align">
      {% for qr_item in object_list %} 
        {% if qr_item.product != blank %}
          <div class="card deep-purple darken-4">
            <div class="card-content">
              <strong>Club: </strong>{{qr_item.product.club}}<br/}</strong>
              <strong>Product: </strong>{{qr_item.product.name}}<br/>


              <strong>Product Type: </strong>
              {% if qr_item.product.product_type == 'r' %}
              <p>Refreshment</p>
              {% elif qr_item.product.product_type == 'c'%}
              <p>Cocktail</p>
              {% elif qr_item.product.product_type == 's'%}
              <p>Shot</p>
              {% elif qr_item.product.product_type == 'b'%}
              <p>Beer</p>
              {% elif qr_item.product.product_type == 'w'%}
              <p>Wine</p>
              {% elif qr_item.product.product_type == 'k'%}
              <p>Snack</p>
              {% elif qr_item.product.product_type == 'h'%}
              <p>Hookah</p>
              {% elif qr_item.product.product_type == 'm'%}
              <p>Misc.</p>
              {% endif %}

              {% if qr_item.product.reservation_exclusive == True %}
              <strong>Reservation exclusive</strong>
              {% else %}
              <strong>Not exclusive</strong>
              {% endif %}


              </br>
              <a class="title btn purple darken-4" href="{{ qr_item.get_absolute_url_display }}">QR Code</a>
            </div>
          </div>
        {% elif qr_item.ticket != blank %}
          <div class="card deep-purple darken-4">
            <div class="card-content">
              <strong>Ticket: </strong>{{qr_item.ticket.event.name}}<br/>
              <strong>Price: </strong>{{qr_item.ticket.price}}
            </br>
              <a class="title btn purple darken-4" href="{{ qr_item.get_absolute_url_display }}">QR Code</a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  {% else %}
  <div class="card deep-purple darken-4">
    <p>You have no purchases</p>
  </div>

  {% endif %}

{% endblock %}
