{% extends "clubby/base_generic.html" %}

{% block content %}
  {% load qr_code %}
  <h1 style="text-align: center;">My Purchases</h1>
  {% if user_is_broke%}
  You dont have enough to buy that, get some moolah in your profile page
  {% endif %}
  {% if object_list %}
  <div class="row">
    <div style="margin: auto" class="center-align">
      {% for qr_item in object_list %}
        {% if qr_item.product != blank %}
          <div class="card purple darken-2">
            <div class="card-image white">
              {% qr_from_text qr_item.get_real_absolute_url size="M" %}
            </div>
            <div class="card-content">
              <b>Product: </b>{{qr_item.product.name}}<br/>


              <b>Product Type: </b>
              {% if qr_item.product.product_type == 'r' %}
              <p>Refreshment</p>
              {% elif qr_item.product.product_type == 'c'%}
              <p>Cocktail</p>
              {% elif qr_item.product.product_type == 's'%}
              <p>Shot</p>
              {% elif qr_item.product.product_type == 'b'%}
              <p>Beer</p>
              {% elif qr_item.product.product_type == 'w'%}
              <p>Wine</p>
              {% elif qr_item.product.product_type == 'k'%}
              <p>Snack</p>
              {% elif qr_item.product.product_type == 'h'%}
              <p>Hookah</p>
              {% elif qr_item.product.product_type == 'm'%}
              <p>Misc.</p>
              {% endif %}

              {% if qr_item.product.reservation_exclusive == True %}
              <b>Reservation exclusive</b>
              {% else %}
              <b>Not exclusive</b>
              {% endif %}


              </br>
            </div>
          </div>
        {% elif qr_item.ticket != blank %}
          <div class="card purple darken-2">
            <div class="card-image white">
              {% qr_from_text qr_item.get_real_absolute_url size="M" %}
            </div>
            <div class="card-content">
              <b>Ticket: </b>{{qr_item.ticket.event.name}}<br/>
              <b>Price: </b>{{qr_item.ticket.price}}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  {% else %}
  <div class="card purple darken-2">
    <p>You have no purchases</p>
  </div>

  {% endif %}

{% endblock %}
