{% extends "clubby/base_generic.html" %}

{% load i18n %}
{% block content %}
<div style="width: 50%; margin: auto;" class='card deep-purple darken-4 center'>
    <h1 class="card-title">403</h1>
    <p class="card-content">{% trans 'It looks like you are trying to access data without some kind of permission. ' %}
      {% trans 'Look if your type of user can access this kind of information,' %}
      {% trans 'or if you are on a form, see if all the data is in the right place.' %}
    </p>
</div>
{% endblock %}