{% extends "clubby/base_generic.html" %}
{% load i18n %}
{% block content %}
<div class="col s12 m7">
<div class="card center deep-purple darken-4">
  <span class="card-title">{% trans 'Cancel your subscription?' %}</span>

  <div class="card-content">
    {% trans 'This will cancel your current premium subscription, if you decide to renew it again you will be charged for it.' %} 
    <br>
    {% trans 'if you are okay with this you please check the box below.' %}<br>
    
  <form action="" method="post">
    {% csrf_token %}
    <p>
      <label>
        <input type="checkbox" value="{{form.accept}}
        <span style="color: white;">{% trans 'Accept' %}</span>
      </label>
    </p>
    <button class="btn purple darken-4" type="submit">{% trans 'Sorry to see you go :(' %}</button>
  </form>

  {% if not_accepted %}
  {% trans 'You must accept the conditions' %}
  {%endif%}

  </div>
</div>
</div>
{% endblock %}
