{% extends "clubby/base_generic.html" %}

{% block content %}
  
  <h2 class="header center white-text">Edit your data.</h2>

  <div class="deep-purple darken-4 toast rounded">
   
  <form method="post">
    <div class="formSignUp">
    {% csrf_token %}
    
      <b>{{form.non_field_errors}}</b>
      <p><b style="font-size: larger;">First name </b>{{form.first_name}}</p>
      <span class="helptext">{{form.first_name.help_text}}</span>
      <br>
      <br>
      <p><b style="font-size: larger;">Last name </b>{{form.last_name}}</p>
      <span class="helptext">{{form.last_name.help_text}}</span>
      <br>
      <br>
      <p><b style="font-size: larger;">Email </b>{{form.email}}</p>
      <span class="helptext">{{form.email.help_text}}</span>
      <br>
      <br>
      <p><b style="font-size: larger;">Bio </b>{{form.bio}}</p>
      <span class="helptext">{{form.bio.help_text}}</span>
      <br>
      <br>
      <p><b style="font-size: larger;">Location </b>{{form.location}}</p>
      <span class="helptext">{{form.location.help_text}}</span>
      <br>
      <br>
      <p><b style="font-size: larger;">Birth date </b>{{form.birth_date}}</p>
      <span class="helptext">{{form.birth_date.help_text}}</span>
      <br>
      <br>
      <p><b style="font-size: larger;">Picture </b>{{form.picture}}</p>
      <span class="helptext">{{form.picture.help_text}}</span>
      <br>
      <br>
      
    <button type="submit" class="btn">Update</button>
  </div>
  </form>
  </div>
  <br/>
  <br/>
{% endblock %}