{% extends "clubby/base_generic.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  [class*="toast"] {
    width: 50%;
  }
  @media only screen and (max-width: 768px) {
  [class*="toast"] {
    width: 100%;
  }
}
</style>
  
  <h2 class="header center white-text">{% trans 'Edit your data.' %}</h2>

  {% if form.errors %}
<div class="red darken-4 toast rounded center" style="margin: auto;">
	<!-- Error messaging -->
	<div id="errors" class="center">
		<div class="inner">
			<p>There were some errors in the information you entered. Please correct the following:</p>
			{{ form.non_field_errors }}
			<ul>
				{% for field in form %}
					{% if field.errors %}<li><strong style="font-size: larger;">{{ field.label }}:</strong> {{ field.errors|striptags }}</li>{% endif %}
				{% endfor %}
			</ul>
		</div>
  </div>
  <br>
  <!-- /Error messaging -->
</div>
{% endif %}

  <div class="deep-purple darken-4 toast rounded center"  style="margin: auto;">
   
  <form method="post" style="margin: auto;">
    <div class="formSignUp">
    {% csrf_token %}
    {% if form.non_field_errors %}
      <div class="card red center">
        <strong class="card-title">{{form.non_field_errors}}</strong>
      </div>
      {%endif%}
      <p><strong style="font-size: larger;">{% trans 'First name' %} </strong>{{form.first_name}}</p>
      <span class="helptext">{{form.first_name.help_text}}</span>
      <br>
      <br>
      <p><strong style="font-size: larger;">{% trans 'Last name' %} </strong>{{form.last_name}}</p>
      <span class="helptext">{{form.last_name.help_text}}</span>
      <br>
      <br>
      <p><strong style="font-size: larger;">Email </strong>{{form.email}}</p>
      <span class="helptext">{{form.email.help_text}}</span>
      <br>
      <br>
      <p><strong style="font-size: larger;">Bio </strong>{{form.bio}}</p>
      <span class="helptext">{{form.bio.help_text}}</span>
      <br>
      <br>
      <p><strong style="font-size: larger;">{% trans 'Location' %} </strong>{{form.location}}</p>
      <span class="helptext">{{form.location.help_text}}</span>
      <br>
      <br>
      <p><strong style="font-size: larger;">{% trans 'Birth date' %} </strong>{{form.birth_date}}</p>
      <p><strong style="font-size: larger;">{% trans 'Picture' %} </strong>{{form.picture}}</p>
      <span class="helptext">{{form.picture.help_text}}</span>
      <br>
      <br>
      
    <button type="submit" class="btn">{% trans 'Update' %}</button>
  </div>
  </form>
  </div>
  <br/>
  <br/>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'clubby/js/materialize.js' %}"></script>
<script type="text/javascript">
currDate = new Date()
  $(document).ready(function() {
    $(".datepicker").datepicker({
      setDefaultDate: true,
      yearRange: [(new Date()).getFullYear() - 100, (new Date()).getFullYear() - 18],
     defaultDate: new Date(),
     minDate: new Date(currDate.getFullYear() - 100, currDate.getMonth(), currDate.getDay()),
    maxDate: new Date(currDate.getFullYear() - 18, currDate.getMonth(), currDate.getDay()),
     format: "yyyy-mm-dd"
   });
   //$('#dateButton').click(function() {
    //  $(".datepicker").datepicker('show');
    //});
});
</script>
{% endblock %}