{% extends "clubby/base_generic.html" %}

{% block content %}
<div class="col s12 m7">
<div class="card center purple darken-2">
  <span class="card-title">Adding {% widthratio ammount 100 1 %} $ to account</span>

  <div class="card-content">
  <form action="{% url 'charge' ammount=ammount%}" method="post">
    {% csrf_token %}
    {{ form }}
    
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ key }}"
    data-description="A Django Charge"
    data-amount="{{ammount}}"
    data-locale="auto">
    </script>
  </form>
  </div>
</div>
</div>
{% endblock %}

