{% extends "clubby/base_generic.html" %}
{% load i18n %}

{% block content %}
<div class="col s12 m7">
<div class="card center deep-purple darken-4">
<div>  
  <p style="padding-top: 15px;" class="card-title">
  <span>
    {% trans 'Adding' %}
  </span>
  <span id=convert></span>
  <span> {% trans '€ to account' %}</span>
</p>
</div>

  <div class="card-content">
  <form action="{% url 'charge' ammount=ammount%}" method="post">
    {% csrf_token %}
    {{ form }}
    
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ key }}"
    data-description="Recharged on Clubby"
    data-amount="{{ammount}}"
    data-locale="auto">
    </script>
  </form>
  </div>
</div>
</div>

<script>
  var ammount = "{{ammount}}";
  var l = ammount.length;
  end = ammount.substring(l-2,l);
  start = ammount.substring(0,l-2);

  document.getElementById("convert").innerHTML = start+"."+end;
</script>
{% endblock %}

