{% extends "clubby/base_generic.html" %}
{% load i18n %}

{% load static %}
{% block content %}

<h1 class="header center white-text">{% trans 'Profile' %}</h1>
<div class="center">
  <div class="deep-purple darken-4  rounded grid-container">
    <div class="col s12 m7">
      <div style="max-width: 700px; margin: auto;" class="card rounded">
        <div class="card-content black">
          <em class="small material-icons white-text">attach_money</em>
          <strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">{% trans 'Funds:' %} </strong>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{{user_profile.funds}} €</span>
          <br/>
          {% if perms.clubby.is_owner %}
          <em class="small material-icons white-text">attach_money</em>
          <strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">{% trans 'Premium status:' %} </strong>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{%if user_profile.renew_premium %} {% trans 'Active' %} (<a href="{% url 'cancel-premium' %}">{% trans 'CANCEL' %}</a>) {%else%} {% trans 'Inactive' %} {%endif%}</span>
          <br/>
          {% endif %}
          <em class="small material-icons white-text">emoji_people</em>
          <strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">{% trans 'Name:' %} </strong>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{{logged_user.first_name}}</span>
          <br/>
          <em class="small material-icons white-text"></em>
          <strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">{% trans 'Surname:' %} </strong>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{{logged_user.last_name}}</span>
          <br/>
          <em class="small material-icons white-text">alternate_email</em>
          <strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Email: </strong>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{{logged_user.email}}</span>
          <br/>
          <em class="small material-icons white-text">comment</em>
          <strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Bio: </strong>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{{user_profile.bio}}</span>
          <br/>
          <em class="small material-icons white-text">location_on</em>
          <strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">{% trans 'Location:' %} </strong>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{{user_profile.location}}</span>
          <br/>
          <em class="small material-icons white-text">cake</em>
          <strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">{% trans 'Birth Date:' %} </strong>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{{user_profile.birth_date}}</span>
          <br/>
          <strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">{% trans 'Profile pic:' %} </strong>
          </br>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">
            {% if user_profile.picture == null or user_profile.picture == ''%}
                <img class="circle responsive-img" style="width: 50%;" src="../../../static/clubby/images/user_img.jpg" alt="">
                {% else %}
                <img class="circle responsive-img" style="width: 50%;" src={{user_profile.picture}} alt="">
            {% endif %}
          </span>
        </div>
        <div class="card-action black">
          <a href="{% url 'edit-profile' %}">{% trans 'Edit profile' %}</a>

          <form method="post" action="/clubby/profile">
            {% csrf_token %}
            <br>
            <p><strong style="font-size: larger;">{% trans 'Ammount to add' %}</strong>{{form.ammount}}</p>
         
            {{ form.funds }}
            <button class="btn purple darken-4" type="submit">{% trans 'Add funds to your account!' %}</button>
          </form>
        </div>
      </div>
    </div>
    
    {% if perms.clubby.is_owner %}
    <br>
    <div class="card-content black" style="font-size: larger;">
    {% if user_profile.stripe_account_id == '' %}
    {% trans 'Here you can get funds to your bank account. To do it you need to setup a Stripe account:' %}<br>

    <br>
    <a class="btn purple darken-4" href ="https://connect.stripe.com/oauth/authorize?client_id=ca_H2FamdKZiiJBsugEImsR9ABKF7QI6eCr&scope=read_write&response_type=code&stripe_user[email]={{logged_user.email}}">
      {% trans 'Connect to stripe' %}
    </a>
    <br></br>

    {% else %}
    {% if limited_funds%}
    <p class="strong materialize-red" style="font-size: 1.64rem">
      {% trans 'YOU DO NOT HAVE THAT MUCH FUNDS... ' %}
    </p><br>
    {%endif%}
    {% trans 'Get money to your bank:' %}<br>
    <form method="post" action="/clubby/payout/">
      {% csrf_token %}
      <br>
      <p><strong style="font-size: larger;">{% trans 'Ammount to add' %} </strong>{{form.ammount}}</p>
   
      {{ form.funds }}
      <button class="btn purple darken-4" type="submit">{% trans 'Get your funds to you bank!' %}</button>
      <br></br>
    </form>
    {%endif%}
    </div>
    {% if over_event_limit%}
    <br>
    <p class="strong materialize-red" style="font-size: 1.64rem">
      {% trans 'Sorry your event publication limit has been reached (2 per month), if you wish to have unlimited events and more <br>
      consider becoming' %} <a href="{% url 'get-premium' %}">Premium</a>!
    </p>
    {% endif %}

    {%if club == ''%}

    {% trans 'No club registered: register one' %} <a href="{% url 'club-create' %}" class="btn purple darken-4">{% trans 'HERE' %}</a>

    {%else%}

    <h2 class="header center white-text">Club</h2>

    <div class="center">
      <div class="deep-purple darken-4 toast rounded grid-container">
        <div class="col s12 m7">
          <div style="max-width: 700px; margin: auto;" class="card rounded">
            <div class="card-image">
              {% if club.picture == null%}
              <img src="../../../static/clubby/images/background.jpg" alt="">
              {% else %}
              <img src={{club.picture}} alt="">
              {% endif %}
              
            </div>
            <div class="card-content black">
              <span class="card-title">{{ club.name }}</span>
              <em class="small material-icons white-text">map</em>
              <strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">{% trans 'Address:' %} </strong>
              <span class="light white-text" style="display: inline-block; vertical-align:top;">{{club.address}}</span>
              <br/>
              <em class="small material-icons white-text">people</em>
              <strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">{% trans 'Capacity:' %} </strong>
              <span class="light white-text" style="display: inline-block; vertical-align:top;">{{club.max_capacity}} {% trans 'people' %}</span>
              <br/>
            </div>
            <div class="card-action black">
              <a href="club/{{ club.pk }}/update/">{% trans 'Edit club' %}</a>
              <a href="club/{{ club.pk }}/delete/">{% trans 'Delete club' %}</a>
              <a href="{% url 'my-events-future' %}">{% trans 'My published events' %}</a>
              <a href="{% url 'my-products' %}">{% trans 'My products' %}</a>
              {% if perms.clubby.is_premium_owner %}
              <a href = "{% url 'get-stats'%}">{% trans 'Statistics' %}</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <br></br>

    <p><strong style="font-size: larger;">Location:</strong></p><br/>
    <div class="container">

    <img class="responsive-img materialboxed" style="display: inline;" width="500" src={{google_url|safe}} alt="club location"/><br/>

    </div> 
    <span class="light white-text" style="vertical-align:middle;">(if it isn't showing properly on this map you might want to replace the address you gave us.)</span>
    
    {%endif%}
    {%endif%}

    <!-- USER SPECIFIC -->
    {% if perms.clubby.is_user%}
  
    {%if logged_user.profile.spotify_access_token == '' %}
      We can recommend events to you if you link your account with spotify you can do so:<br>
    {%else%}
      Your spotify account is currently linked, if you wish to change the linked spotify account you can do it:<br>
    {%endif%}
      <a href= "{{spotify_url}}"> HERE </a><br>

      
    {%endif%}

    <div class="card-action black">
    </br>
      <a class="btn purple darken-4" href="export-data">{% trans 'Export personal data' %}</a>
    </br></br>
      <a class="modal-trigger btn purple darken-4" href="#delete-modal">{% trans 'Delete your account' %}</a>
      <br></br>
    
    </div>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="{% static 'clubby/js/materialize.js' %}"></script>

          <!-- Modal -->
          <div id="delete-modal" class="modal modal-fixed-footer" style="max-height: 40%;">
            <div class="modal-content black">
              <h4>{% trans 'Are you sure?' %}</h4>
              <p>{% trans 'Once you delete your account, there is no going back' %}</p>
            </div>
            <div class="modal-footer black">
              <a href="delete-data" class="modal-action modal-close waves-effect waves-red btn red lighten-1">{% trans 'Delete account' %}</a>
            </div>
          </div>

        <script>
        $(document).ready(function(){
            $('.modal').modal();
            $('.materialboxed').materialbox();
          })
        </script>

  <!-- add assisted events if the user is an user and has been to at least 1 event.-->
  
{% endblock %}