{% extends "clubby/base_generic.html" %}

{% block content %}

<h1 class="header center white-text">Profile</h1>
<div class="center">
  <div class="deep-purple darken-4  rounded grid-container">
    <div class="col s12 m7">
      <div style="max-width: 700px; margin: auto;" class="card rounded">
        <div class="card-content black">
          <i class="small material-icons white-text">attach_money</i>
          <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Funds: </b>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{{user_profile.funds}} €</span>
          <br/>
          {% if perms.clubby.is_owner %}
          <i class="small material-icons white-text">attach_money</i>
          <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Premium status: </b>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{%if user_profile.renew_premium %} Active (<a href="{% url 'cancel-premium' %}">CANCEL</a>) {%else%} Inactive {%endif%}</span>
          <br/>
          {% endif %}
          <i class="small material-icons white-text">emoji_people</i>
          <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Name: </b>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{{logged_user.first_name}}</span>
          <br/>
          <i class="small material-icons white-text"></i>
          <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Surname: </b>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{{logged_user.last_name}}</span>
          <br/>
          <i class="small material-icons white-text">alternate_email</i>
          <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Email: </b>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{{logged_user.email}}</span>
          <br/>
          <i class="small material-icons white-text">comment</i>
          <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Bio: </b>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{{user_profile.bio}}</span>
          <br/>
          <i class="small material-icons white-text">location_on</i>
          <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Location: </b>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{{user_profile.location}}</span>
          <br/>
          <i class="small material-icons white-text">cake</i>
          <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Birth Date: </b>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{{user_profile.birth_date}}</span>
          <br/>
          <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Profile pic: </b>
          </br>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">
            {% if user_profile.picture == blank%}
                <img class="circle responsive-img" style="width: 50%;" src="../../../static/clubby/images/user_img.jpg">
                {% else %}
                <img class="circle responsive-img" style="width: 50%;" src={{user_profile.picture}}>
          {% endif %}
          </span>
        </div>
        <div class="card-action black">
          <a href="{% url 'edit-profile' %}">Edit profile</a>

          <form method="post">
            {% csrf_token %}
            <br>
            <p><b style="font-size: larger;">Ammount to add </b>{{form.ammount}}</p>
         
            {{ form.funds }}
            <button class="btn purple darken-4" type="submit">Add funds to your account!</button>
          </form>
        </div>
      </div>
    </div>
    
    {% if perms.clubby.is_owner %}

    {% if over_event_limit%}
    <br>
    <p class="strong materialize-red" style="font-size: 1.64rem">
      Sorry your event publication limit has been reached (2 per month), if you wish to have unlimited events and more <br>
      consider becoming <a href="{% url 'get-premium' %}">Premium</a>!
    </p>
    {% endif %}

    {%if club == ''%}
    No club registered: register one <a href="{% url 'club-create' %}" class="btn purple darken-4">HERE</a>
    {%else%}

    <h2 class="header center white-text">Club</h2>

    <div class="center">
      <div class="deep-purple darken-4 toast rounded grid-container">
        <div class="col s12 m7">
          <div style="max-width: 700px; margin: auto;" class="card rounded">
            <div class="card-image">
              {% if club.picture == null%}
              <img src="../../../static/clubby/images/background.jpg">
              {% else %}
              <img src={{club.picture}}>
              {% endif %}
              <span class="card-title">{{ club.name }}</span>
            </div>
            <div class="card-content black">
              <i class="small material-icons white-text">map</i>
              <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Address: </b>
              <span class="light white-text" style="display: inline-block; vertical-align:top;">{{club.address}}</span>
              <br/>
              <i class="small material-icons white-text">people</i>
              <b class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Capacity: </b>
              <span class="light white-text" style="display: inline-block; vertical-align:top;">{{club.max_capacity}} people</span>
              <br/>
            </div>
            <div class="card-action black">
              <a href="club/{{ club.pk }}/update/">Edit club</a>
              <a href="club/{{ club.pk }}/delete/">Delete club</a>
              <a href="{% url 'my-events-future' %}">My published events</a>
              <a href="{% url 'my-products' %}">My products</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {%endif%}
    {%endif%}

  <!-- add assisted events if the user is an user and has been to at least 1 event.-->
  {% if perms.clubby.is_user%}

    <!-- include assisted events-->
    <!-- link spotify?-->

  {%endif%}
{% endblock %}