{% extends "clubby/base_generic.html" %}

{% load static %}
{% block content %}

<h1 class="header center white-text">Profile</h1>
<div class="center">
  <div class="deep-purple darken-4  rounded grid-container">
    <div class="col s12 m7">
      <div style="max-width: 700px; margin: auto;" class="card rounded">
        <div class="card-content black">
          <em class="small material-icons white-text">attach_money</em>
          <strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Funds: </strong>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{{user_profile.funds}} €</span>
          <br/>
          {% if perms.clubby.is_owner %}
          <em class="small material-icons white-text">attach_money</em>
          <strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Premium status: </strong>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{%if user_profile.renew_premium %} Active (<a href="{% url 'cancel-premium' %}">CANCEL</a>) {%else%} Inactive {%endif%}</span>
          <br/>
          {% endif %}
          <em class="small material-icons white-text">emoji_people</em>
          <strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Name: </strong>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{{logged_user.first_name}}</span>
          <br/>
          <em class="small material-icons white-text"></em>
          <strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Surname: </strong>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{{logged_user.last_name}}</span>
          <br/>
          <em class="small material-icons white-text">alternate_email</em>
          <strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Email: </strong>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{{logged_user.email}}</span>
          <br/>
          <em class="small material-icons white-text">comment</em>
          <strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Bio: </strong>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{{user_profile.bio}}</span>
          <br/>
          <em class="small material-icons white-text">location_on</em>
          <strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Location: </strong>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{{user_profile.location}}</span>
          <br/>
          <em class="small material-icons white-text">cake</em>
          <strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Birth Date: </strong>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">{{user_profile.birth_date}}</span>
          <br/>
          <strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Profile pic: </strong>
          </br>
          <span class="light white-text" style="display: inline-block; vertical-align:top;">
            {% if user_profile.picture == null or user_profile.picture == ''%}
                <img class="circle responsive-img" style="width: 50%;" src="../../../static/clubby/images/user_img.jpg" alt="">
                {% else %}
                <img class="circle responsive-img" style="width: 50%;" src={{user_profile.picture}} alt="">
            {% endif %}
          </span>
        </div>
        <div class="card-action black">
          <a href="{% url 'edit-profile' %}">Edit profile</a>

          <form method="post" action="/clubby/profile">
            {% csrf_token %}
            <br>
            <p><strong style="font-size: larger;">Ammount to add </strong>{{form.ammount}}</p>
         
            {{ form.funds }}
            <button class="btn purple darken-4" type="submit">Add funds to your account!</button>
          </form>
        </div>
      </div>
    </div>
    
    {% if perms.clubby.is_owner %}
    <br>
    <div class="card-content black" style="font-size: larger;">
    {% if user_profile.stripe_account_id == '' %}
    Here you can get funds to your bank account. To do it you need to setup a Stripe account:<br>

    <br>
    <a class="btn purple darken-4" href ="https://connect.stripe.com/oauth/authorize?client_id=ca_H2FamdKZiiJBsugEImsR9ABKF7QI6eCr&scope=read_write&response_type=code&stripe_user[email]={{logged_user.email}}">
      Connect to stripe
    </a>
    <br></br>

    {% else %}
    {% if limited_funds%}
    <p class="strong materialize-red" style="font-size: 1.64rem">
     YOU DON'T HAVE THAT MUCH FUNDS... 
    </p><br>
    {%endif%}
    Get money to your bank:<br>
    <form method="post" action="/clubby/payout/">
      {% csrf_token %}
      <br>
      <p><strong style="font-size: larger;">Ammount to add </strong>{{form.ammount}}</p>
   
      {{ form.funds }}
      <button class="btn purple darken-4" type="submit">Get your funds to you bank!</button>
      <br></br>
    </form>
    {%endif%}
    </div>
    {% if over_event_limit%}
    <br>
    <p class="strong materialize-red" style="font-size: 1.64rem">
      Sorry your event publication limit has been reached (2 per month), if you wish to have unlimited events and more <br>
      consider becoming <a href="{% url 'get-premium' %}">Premium</a>!
    </p>
    {% endif %}

    {%if club == ''%}
    No club registered: register one <a href="{% url 'club-create' %}" class="btn purple darken-4">HERE</a>
    {%else%}

    <h2 class="header center white-text">Club</h2>

    <div class="center">
      <div class="deep-purple darken-4 toast rounded grid-container">
        <div class="col s12 m7">
          <div style="max-width: 700px; margin: auto;" class="card rounded">
            <div class="card-image">
              {% if club.picture == null%}
              <img src="../../../static/clubby/images/background.jpg" alt="">
              {% else %}
              <img src={{club.picture}} alt="">
              {% endif %}
              
            </div>
            <div class="card-content black">
              <span class="card-title">{{ club.name }}</span>
              <em class="small material-icons white-text">map</em>
              <strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Address: </strong>
              <span class="light white-text" style="display: inline-block; vertical-align:top;">{{club.address}}</span>
              <br/>
              <em class="small material-icons white-text">people</em>
              <strong class="light white-text" style="display: inline-block; vertical-align:top; font-size: larger;">Capacity: </strong>
              <span class="light white-text" style="display: inline-block; vertical-align:top;">{{club.max_capacity}} people</span>
              <br/>
            </div>
            <div class="card-action black">
              <a href="club/{{ club.pk }}/update/">Edit club</a>
              <a href="club/{{ club.pk }}/delete/">Delete club</a>
              <a href="{% url 'my-events-future' %}">My published events</a>
              <a href="{% url 'my-products' %}">My products</a>
              {% if perms.clubby.is_premium_owner %}
              <a href = "{% url 'get-stats'%}">Statistics</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    {%endif%}
    {%endif%}
    <br></br>
    <div class="card-action black">
    </br>
      <a class="btn purple darken-4" href="export-data">Export personal data</a>
    </br></br>
      <a class="modal-trigger btn purple darken-4" href="#delete-modal">Delete your account</a>
      <br></br>
    
    </div>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="{% static 'clubby/js/materialize.js' %}"></script>

          <!-- Modal -->
          <div id="delete-modal" class="modal modal-fixed-footer" style="max-height: 40%;">
            <div class="modal-content black">
              <h4>Are you sure?</h4>
              <p>Once you delete your account, there is no going back</p>
            </div>
            <div class="modal-footer black">
              <a href="delete-data" class="modal-action modal-close waves-effect waves-red btn red lighten-1">Delete account</a>
            </div>
          </div>

        <script>
        $(document).ready(function(){
            $('.modal').modal();
          })
        </script>

  <!-- add assisted events if the user is an user and has been to at least 1 event.-->
  {% if perms.clubby.is_user%}

    <!-- include assisted events-->
    <!-- link spotify?-->

  {%endif%}
{% endblock %}