{% extends "clubby/base_generic.html" %}

{% block content %}
  {% if user %}
  <h2 class="header center white-text">Sign up as user</h2>

    <p class="center white-text">if you are a club owner sign up <a href="{% url 'signup-owner' %}" class="btn">here!</a></p>
  {%endif%}

  {% if owner %}
  <h2 class="header center white-text">Sign up as owner</h2>    
  <p class="center white-text">back to user signup <a href="{% url 'signup-user' %}">here.</a></p>
  {% endif %}
  <div class="deep-purple darken-4 toast rounded">
   
  <form method="post">
    <div class="formSignUp">
    {% csrf_token %}
    {{ form.as_p }}
    {{ form.media }}
    <button type="submit" class="btn">Sign up</button>
  </div>
  </form>
  </div>
  <br/>
  <br/>
{% endblock %}