{% extends "clubby/base_generic.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  [class*="toast"] {
    width: 50%;
  }
  @media only screen and (max-width: 768px) {
  [class*="toast"] {
    width: 100%;
  }
}
</style>
{% if user %}
<h2 class="header center white-text">{% trans 'Sign up as user' %}</h2>

<p class="center white-text">{% trans 'if you are a club owner sign up' %} <a href="{% url 'signup-owner' %}"
    class="btn">{% trans 'here!' %}</a></p>
{%endif%}

{% if owner %}
<h2 class="header center white-text">{% trans 'Sign up as owner' %}</h2>
<p class="center white-text">{% trans 'back to user signup' %} <a href="{% url 'signup-user' %}">{% trans 'here.' %}</a>
</p>
{% endif %}
<div class="deep-purple darken-4 toast rounded center" style="margin: auto;">

{% if form.errors %}
	<!-- Error messaging -->
	<div id="errors">
		<div class="inner">
			<p>There were some errors in the information you entered. Please correct the following:</p>
			{{ form.non_field_errors }}
			<ul>
				{% for field in form %}
					{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<!-- /Error messaging -->
{% endif %}

  <form method="post" id="form">
    <div class="formSignUp">
      {% csrf_token %}
      {% if form.non_field_errors %}
      <div class="card red center">
        <strong class="card-title">{{form.non_field_errors}}</strong>
      </div>
      {%endif%}
      <p><strong style="font-size: larger;">{% trans 'Username' %} </strong>{{form.username}}</p>
      <span class="helptext">{{form.username.help_text}}</span>
      <br>
      <br>
      <p><strong style="font-size: larger;">{% trans 'First name' %} </strong>{{form.first_name}}</p>
      <span class="helptext">{{form.first_name.help_text}}</span>
      <br>
      <br>
      <p><strong style="font-size: larger;">{% trans 'Last name' %} </strong>{{form.last_name}}</p>
      <span class="helptext">{{form.last_name.help_text}}</span>
      <br>
      <br>
      <p><strong style="font-size: larger;">Email </strong>{{form.email}}</p>
      <span class="helptext">{{form.email.help_text}}</span>
      <br>
      <br>
      <p><strong style="font-size: larger;">Bio </strong>{{form.bio}}</p>
      <span class="helptext">{{form.bio.help_text}}</span>
      <br>
      <br>
      <p><strong style="font-size: larger;">{% trans 'Location' %} </strong>{{form.location}}</p>
      <span class="helptext">{{form.location.help_text}}</span>
      <br>
      <br>
      <p><strong style="font-size: larger;">{% trans 'Birth date' %} </strong>{{form.birth_date}}</p>
      <br>
      <br>
      <p><strong style="font-size: larger;">{% trans 'Password' %} </strong>{{form.password1}}</p>
      <span class="helptext">{{form.password1.help_text}}</span>
      <br>
      <br>
      <p><strong style="font-size: larger;">{% trans 'Password confirmation' %} </strong>{{form.password2}}</p>
      <span class="helptext">{{form.password2.help_text}}</span>
      <br>
      <br>

      {{ form.media }}
      
      <a class="modal-trigger btn" href="#terms-modal">{% trans '*Sign up and agree' %}</a>
    </div>
    <p><small>{% trans '*By clicking in the "Sign up and agree" button you agree with our' %}{% trans 'terms and conditions' %}
      <a href="{% url 'terms-and-conditions' %}" target="_blank">
        <img class="responsive-img" style="width: 3%;" src="/static/clubby/images/eng.png" alt="english"/>
      </a>
      <a href="{% url 'terminos-condiciones' %}" target="_blank">
        <img class="responsive-img" style="width: 3%;" src="/static/clubby/images/esp.png" alt="español"/>
      </a>
       {% trans 'and' %} {% trans 'privacy policy' %}
       <a href="{% url 'privacy-policy' %}" target="_blank">
        <img class="responsive-img" style="width: 3%;" src="/static/clubby/images/eng.png" alt="english"/>
      </a>
      <a href="{% url 'politica-privacidad' %}" target="_blank">
        <img class="responsive-img" style="width: 3%;" src="/static/clubby/images/esp.png" alt="español"/>
      </a>
  </form>
</div>
<br />
<br />

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'clubby/js/materialize.js' %}"></script>
<script type="text/javascript">
  currDate = new Date()
  $(document).ready(function () {
    $(".datepicker").datepicker({
      setDefaultDate: true,
      yearRange: [(new Date()).getFullYear() - 100, (new Date()).getFullYear() - 18],
      defaultDate: new Date(),
      minDate: new Date(currDate.getFullYear() - 100, currDate.getMonth(), currDate.getDay()),
      maxDate: new Date(currDate.getFullYear() - 18, currDate.getMonth(), currDate.getDay()),
      format: "yyyy-mm-dd"
    });
    $('.modal').modal({dismissible: false});
    $('.materialboxed').materialbox();
  })
    
</script>

          <!-- Modal -->
          <div id="terms-modal" class="modal modal-fixed-footer" style="max-height: 40%;">
            <div class="modal-content black">
              <h4>{% trans 'Confirm signup?' %}</h4>
              <h6>{% trans '*By clicking in the "Sign up and agree" button you agree with our' %} {% trans 'terms and conditions' %}
              <a href="{% url 'terms-and-conditions' %}" target="_blank">
                <img class="responsive-img" style="width: 5%;" src="/static/clubby/images/eng.png" alt="english"/>
              </a>
              <a href="{% url 'terminos-condiciones' %}" target="_blank">
                <img class="responsive-img" style="width: 5%;" src="/static/clubby/images/esp.png" alt="español"/>
              </a>
               {% trans 'and' %} {% trans 'privacy policy' %}
               <a href="{% url 'privacy-policy' %}" target="_blank">
                <img class="responsive-img" style="width: 5%;" src="/static/clubby/images/eng.png" alt="english"/>
              </a>
              <a href="{% url 'politica-privacidad' %}" target="_blank">
                <img class="responsive-img" style="width: 5%;" src="/static/clubby/images/esp.png" alt="español"/>
              </a>
            </h6>
            </div>
            <div class="modal-footer black">
              <a href="#!" class="btn modal-action modal-close red darken-4 white-text">Cancel</a>
              <a href="#" id="submit" class="btn btn-success success">{% trans 'Submit' %}</a>
            </div>
          </div>

          <script>
            $('#submit').click(function(){
              $('#form').submit();
            });
          </script>

{% endblock %}