
{% extends "clubby/base_generic.html" %}
{% load i18n %}

{% load static %}
{% block content %}
<h2 class="header center white-text">Login</h2>

<div class="deep-purple darken-4 toast rounded">

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  {% if form.errors %}
    <div class="card red center"><p class="card-title">{% trans 'Your username and password did not match. Please try again.' %}</p></div>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>{% trans 'Your account doesn't have access to this page. To proceed,
          please login with an account that has access.' %}</p>
    {% else %}
      <p>{% trans 'Please login to see this page.' %}</p>
    {% endif %}
  {% endif %}
  <strong>{% trans 'Username' %}</strong>
  <td>{{ form.username }}</td>
</div>
<div>
  <strong>{% trans 'Password' %}</strong>
  <td>{{ form.password }}</td>
</div>

<p><small>{% trans 'By logging in with Google you agree with our' %} {% trans 'terms and conditions' %}
  <a href="{% url 'terms-and-conditions' %}" target="_blank">
    <img class="responsive-img" style="width: 3%;" src="/static/clubby/images/eng.png" alt="english"/>
  </a>
  <a href="{% url 'terminos-condiciones' %}" target="_blank">
    <img class="responsive-img" style="width: 3%;" src="/static/clubby/images/esp.png" alt="español"/>
  </a> 
   {% trans 'and' %} {% trans 'privacy policy' %}
   <a href="{% url 'privacy-policy' %}" target="_blank">
    <img class="responsive-img" style="width: 3%;" src="/static/clubby/images/eng.png" alt="english"/>
  </a>
  <a href="{% url 'politica-privacidad' %}" target="_blank">
    <img class="responsive-img" style="width: 3%;" src="/static/clubby/images/esp.png" alt="español"/>
  </a>
</small></p>
<div>
  <a class="modal-trigger btn purple darken-4 white-text" href="#terms-modal" style="text-transform:none">
      <div class="left">
          <img width="20px" style="margin-right:8px" alt="Google Login" 
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
      </div>
      {% trans 'Login with Google' %}
  </a>
</div>
<br/>

<div>
  <input type="submit" class="btn purple darken-4" value="{% trans 'login' %}" ></input>
  <input type="hidden" name="next" value="{{ next }}" />
  <br/>
  <br/>
  <a class="btn purple darken-4" href="{% url 'password_reset' %}">{% trans 'Lost password?' %}</a>

</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<div>
</div>
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 <script src="{% static 'clubby/js/materialize.js' %}"></script>

<script>
  $(document).ready(function(){
      $('.modal').modal({dismissible: false});
      $('.materialboxed').materialbox();
    })
  </script>

<!-- Modal -->
<div id="terms-modal" class="modal fade modal-fixed-footer" style="max-height: 40%;">
  <div class="modal-content black">
    <h4>{% trans 'Login with Google' %}</h4>
    <h6>{% trans 'By clicking in the "Login with Google" button you agree with our' %} {% trans 'terms and conditions' %}
    <a href="{% url 'terms-and-conditions' %}" target="_blank">
      <img class="responsive-img" style="width: 5%;" src="/static/clubby/images/eng.png" alt="english"/>
    </a>
    <a href="{% url 'terminos-condiciones' %}" target="_blank">
      <img class="responsive-img" style="width: 5%;" src="/static/clubby/images/esp.png" alt="español"/>
    </a>
     {% trans 'and' %} {% trans 'privacy policy' %}
     <a href="{% url 'privacy-policy' %}" target="_blank">
      <img class="responsive-img" style="width: 5%;" src="/static/clubby/images/eng.png" alt="english"/>
    </a>
    <a href="{% url 'politica-privacidad' %}" target="_blank">
      <img class="responsive-img" style="width: 5%;" src="/static/clubby/images/esp.png" alt="español"/>
    </a>
  </h6>
  </div>
  <div class="modal-footer black">
    <a href="#!" class="btn modal-action modal-close red darken-4 white-text">Cancel</a>
    <a class="oauth-container btn purple darken-4 white-text" href="{% url 'social:begin' 'google-oauth2' %}">{% trans 'Login with Google' %}</a>
  </div>
</div>

{% endblock %}