{% extends "clubby/base_generic.html" %}

{% block content %}
  <h1>Name: {{ event.name }}</h1>

  <p><strong>Club:</strong> <a href="{{ event.club.get_absolute_url }}">{{ event.club.name}}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Starts:</strong> {{ event.start_date }}</p>

  {% if event.event_type == 'p'  %}
    <p><strong>Type:</strong> Private</p>
  {% elif event.event_type == 'd'  %}
    <p><strong>Type:</strong> Dress Up</p>
  {% elif event.event_type == 'f'  %}
    <p><strong>Type:</strong> Fancy</p>
  {% elif event.event_type == 'c'  %}
    <p><strong>Type:</strong> Casual</p>
  {%endif%}

  <!-- if the owner of the club is the one looking at this page give him the option to edit the event if no atendees are in yet.-->

  {% if missing_tickets %}
    we coldn't process {{miss}} tickets, they ran out... sorry :(
  {% endif %}

  <p><strong>Atendee List:</strong></p><br>
  {% if event.atendees %}
  <ul>
    {% for atendant in event.atendees.all %}
      <li>
        {{atendant}}
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no atendants yet.</p>
  {% endif %}
  
  {% if perms.clubby.is_user%}

  <a href="{% url 'ticket-list' event_id=event.pk %}">Purchase ticket.</a>

  {%endif%}
{% endblock %}

    
