{% extends "clubby/base_generic.html" %}

{% block content %}
  <h1>Event List</h1>
  {% if object_list %}
  <ul>
    {% for event in object_list %}
      <li>
        <a href="{{ event.get_absolute_url }}">{{ event.name }}</a> 
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no events avaliable.</p>
  {% endif %}
  {% if perms.clubby.is_owner %}
  <a href="{% url 'event-create' %}" class="btn-large waves-effect waves-light purple darken-4 lighten-1">Create new event</a>  
  {%endif%}   
{% endblock %}