{% extends "clubby/base_generic.html" %}

{% block content %}
  <h1>{{ club.name }}</h1>

  <div class="indigo darken-2 toast rounded">
  <p><strong>Address: </strong>{{ club.address }}</p> <!-- author detail link not yet defined -->
  <p><strong>Max Capacity:</strong> {{ club.max_capacity }}</p>
  <p><strong>NIF:</strong> {{ club.NIF }}</p> 

  <!-- <div style="margin-left:20px;margin-top:20px">
    <h4>Events</h4>

    {% for copy in book.bookinstance_set.all %}
      <hr>
      <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
        {{ copy.get_status_display }}
      </p>
      {% if copy.status != 'a' %}
        <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
      {% endif %}
      <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
      <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
    {% endfor %}
  </div> -->
{% endblock %}
</div>

    
