{% extends "clubby/base_generic.html" %}

{% block content %}
  <h1 style="text-align: center;">Club List</h1>
  <div class="desk">
  {% if object_list %}
  <ul class="collection">
    {% for club in object_list %}
      <li class="collection-item purple darken-4">
        <div>{{ club.name }} ({{club.NIF}})<a href="{{ club.get_absolute_url }}" class="secondary-content white-text"><i class="material-icons">send</i></a> </div>
        
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no clubs avaliable.</p>
  {% endif %} 
</div>
{% endblock %}
</div>


