
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
  </head>
  <body>
    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'clubby:detail' question.id %}">{{ question.question_text }}</a></li>
            <!-- 
              this is a way to remove hardcoded urls from code we jsut reference the name we gave them on urls.py
              this way if we want to change an url we just do it once on th urls file.
              <li><a href="/clubby/{{ question.id }}/">{{ question.question_text }}</a></li>
            -->
            
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
  </body>
</html>


