{% extends "clubby/base_generic.html" %}

{% block content %}
  <p><strong>Name:</strong>{{ logged_user.first_name }}</p>
  <p><strong>Surname:</strong> {{ logged_user.last_name }}</p>
  <p><strong>Email:</strong> {{ logged_user.email }}</p>

  <p><strong>Bio:</strong>{{ user_profile.bio }}</p>
  <p><strong>Location:</strong> {{ user_profile.location }}</p>
  <p><strong>Email:</strong> {{ user_profile.birth_date }}</p>

  <!-- add the club if the user is an owner and has a club. if not redirect to the club creation page: -->
  {% if perms.clubby.can_add_event %}
    {%if club == ''%}
    no club registered man: register one <a href="{% url 'club-create' %}">here</a>
    {%else%}
    <h2>CLUB:</h2>

    <p><strong>Name: </strong>{{ club.name }}</p>
    <p><strong>Address: </strong>{{ club.address }}</p>
    <p><strong>Capacity: </strong>{{ club.max_capacity }}</p>
    <br>
    
    <a href="club/{{ club.pk }}/update/">edit club</a>
    <a href="club/{{ club.pk }}/delete/"">delete club</a>
    

    {%endif%}
  {%endif%}

  <!-- add assisted events if the user is an user and has been to at least 1 event.-->
  {% if perms.clubby.can_mark_assistance%}

    <!-- include assisted events-->

  {%endif%}
 
  
    
{% endblock %}