{% extends "clubby/base_generic.html" %}

{% block content %}

<h1 class="header center white-text">Profile</h1>
<!--
<div class="list center">
<div class="card-content list medium indigo darken-2 rounded" style="font-size: large;">
  
  <h4><p><strong>Funds: </strong>{{ user_profile.funds }}</p></h4>

  <p><strong>Name:</strong>{{ logged_user.first_name }}</p>
  <p><strong>Surname:</strong> {{ logged_user.last_name }}</p>
  <p><strong>Email:</strong> {{ logged_user.email }}</p>

  <p><strong>Bio: </strong>{{ user_profile.bio }}</p>
  <p><strong>Location:</strong> {{ user_profile.location }}</p>
  <p><strong>Email:</strong> {{ user_profile.birth_date }}</p>
  <p><strong>Birth date: </strong>{{ user_profile.birth_date }}</p>

  <a href="">edit profile</a> (Not implemented yet, sorry...)<br>
  <a href="{% url 'add-funds' %}?next={% url 'profile'%}">Add funds to your account!</a><br>
  -->

<div class="list center">
<div class="deep-purple darken-4 toast rounded grid-container">
  <div class="col s12 m7">
    <div class="card rounded">
      <div class="card-content black">
  <i class="small material-icons white-text">attach_money</i><span class="light white-text" style="display: inline-block; vertical-align:top;">
    Funds: </span>
    <span class="light white-text" style="display: inline-block; vertical-align:top;">{{user_profile.funds}} €</span>
  <br/>
  <i class="small material-icons white-text">emoji_people</i><span class="light white-text" style="display: inline-block; vertical-align:top;">
    Name: </span>
    <span class="light white-text" style="display: inline-block; vertical-align:top;">{{logged_user.first_name}}</span>
  <br/>
  <i class="small material-icons white-text"></i><span class="light white-text" style="display: inline-block; vertical-align:top;">
    Surname: </span>
    <span class="light white-text" style="display: inline-block; vertical-align:top;">{{logged_user.last_name}}</span>
  <br/>
  <i class="small material-icons white-text">alternate_email</i><span class="light white-text" style="display: inline-block; vertical-align:top;">
    Email: </span>
    <span class="light white-text" style="display: inline-block; vertical-align:top;">{{logged_user.email}}</span>
  <br/>
  <i class="small material-icons white-text">comment</i><span class="light white-text" style="display: inline-block; vertical-align:top;">
    Bio: </span>
    <span class="light white-text" style="display: inline-block; vertical-align:top;">{{user_profile.bio}}</span>
  <br/>
  <i class="small material-icons white-text">location_on</i><span class="light white-text" style="display: inline-block; vertical-align:top;">
    Location: </span>
    <span class="light white-text" style="display: inline-block; vertical-align:top;">{{user_profile.location}}</span>
  <br/>
  <i class="small material-icons white-text">cake</i><span class="light white-text" style="display: inline-block; vertical-align:top;">
    Birth Date: </span>
    <span class="light white-text" style="display: inline-block; vertical-align:top;">{{user_profile.birth_date}}</span>
  <br/>
  </div>
  <div class="card-action black">
    <a href="">Edit profile</a>
    <p>(Not implement yet, sorry)</p>
    <a href="{% url 'add-funds' %}?next={% url 'profile'%}">Add funds to your account!</a>
  </div>
    </div>
    </div>

</div>
</div>
<br>
<br>
<br>
  <!-- add the club if the user is an owner and has a club. if not redirect to the club creation page: -->
  {% if perms.clubby.is_owner %}
    {%if club == ''%}
    <p><strong>No club registered man:</strong></p>
    <a href="{% url 'club-create' %}" class="btn-large waves-effect waves-light purple darken-4 lighten-1">Register one here</a>
    {%else%}
    <!--
    <br>
    <h2 class="header center white-text">CLUB:</h2>

    <div class="indigo darken-2 rounded center">
    <p><strong>Name: </strong>{{ club.name }}</p>
    <p><strong>Address: </strong>{{ club.address }}</p>
    <p><strong>Capacity: </strong>{{ club.max_capacity }}</p>

    <div class="center">
    
    <a href="club/{{ club.pk }}/update/" class="btn-large waves-effect waves-light purple darken-4 lighten-1">edit club</a>
    <a href="club/{{ club.pk }}/delete/" class="btn-large waves-effect waves-light purple darken-4 lighten-1">delete club</a>
    
    <a href="{% url 'my-events-future' %}" class="btn-large waves-effect waves-light purple darken-4 lighten-1">My Published Events</a>
    <a href="{% url 'my-products' %}" class="btn-large waves-effect waves-light purple darken-4 lighten-1">My Products</a>

    </div>
  -->

  <h2 class="header center white-text">Club</h2>

  <div class="list center">
    <div class="deep-purple darken-4 toast rounded grid-container">
      <div class="col s12 m7">
        <div class="card rounded">
          <div class="card-image">
            <img src="../../../static/clubby/images/background.jpg">
            <span class="card-title">{{ club.name }}</span>
          </div>
          <div class="card-content black">
      <i class="small material-icons white-text">map</i><span class="light white-text" style="display: inline-block; vertical-align:top;">
        Address: </span>
        <span class="light white-text" style="display: inline-block; vertical-align:top;">{{club.address}}</span>
      <br/>
      <i class="small material-icons white-text">people</i><span class="light white-text" style="display: inline-block; vertical-align:top;">
        Capacity: </span>
        <span class="light white-text" style="display: inline-block; vertical-align:top;">{{club.max_capacity}} people</span>
      <br/>
      </div>
      <div class="card-action black">
        <a href="club/{{ club.pk }}/update/">Edit club</a>
        <a href="club/{{ club.pk }}/delete/">Delete club</a>
        <a href="{% url 'my-events-future' %}">My published events</a>
        <a href="{% url 'my-products' %}">My products</a>
      </div>
        </div>
        </div>
    
    </div>
    </div>

    {%endif%}
  {%endif%}

  <!-- add assisted events if the user is an user and has been to at least 1 event.-->
  {% if perms.clubby.is_user%}

    <!-- include assisted events-->

  {%endif%}
{% endblock %}