{% extends "clubby/base_generic.html" %}

{% block content %}
  {% if user %}
  <h2>Sign up as user</h2>
    if you are a club owner sign up <a href="{% url 'signup-owner' %}">here!</a>
  {%endif%}

  {% if owner %}
    <h2>Sign up as owner</h2>
    back to user signup <a href="{% url 'signup-user' %}">here.</a>
  {% endif %}

  <form method="post">
    <div class="formSignUp">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn-large waves-effect waves-light purple darken-4 lighten-1">Sign up</button>
  </div>
  </form>
{% endblock %}