{% extends "clubby/base_generic.html" %}

{% block content %}
  <h1>Name: {{ product.name }}</h1>
  <h1>Price: {{ product.price }}</h1>
  
  <!-- this should appear only if its the owner. -->
  {% if product.club.owner == user%}
  <a href="{{ product.pk }}/update/" class="btn-large waves-effect waves-light purple darken-4 lighten-1">edit product</a><br>
  <a href="{{ product.pk }}/delete/" class="btn-large waves-effect waves-light materialize-red darken-3 lighten-1">delete product</a>
  {%endif%}
{% endblock %}

    
