{% extends "clubby/base_generic.html" %}

{% block content %}
  <h1>Product List</h1>
  {% if object_list %}
  <ul>
    {% for product in object_list %}
      <li>
        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a> ({{product.price}}) - {{product.club}}
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no products avaliable.</p>
  {% endif %}
  <a href="{% url 'product-create' %}" class="btn-large waves-effect waves-light purple darken-4 lighten-1">Create new product</a> 
{% endblock %}