{% extends "clubby/base_generic.html" %}

{% block content %}
  <h1>Product List</h1>
  <ul>

  {% if perms.clubby.is_user %}
    {% for product, form in product_ammount.items %} 
    <li>
      <a href="{{ product.get_absolute_url }}">{{ product.name }}</a> - ({{product.price}}) 
    <form action="" method="post">{% csrf_token %} {{form}} <input type="submit" value="Submit"></form> 
    </li>
    <br>
    {% endfor %}
  {% endif %}

  {% if perms.clubby.is_owner %}
  {% if object_list %}
  <ul>
    {% for product in object_list %}
      <li>
        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a> 
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no products avaliable.</p>
  {% endif %}

    <a href="{% url 'product-create' %}">Create new product</a>  
  {%endif%}   
  </ul>
{% endblock %}
