{% extends "clubby/base_generic.html" %}

{% block content %}
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
    <div  class="card deep-purple darken-4">
      <!--<span class="card-title">Introduzca su correo electrónico. Le mandaremos un correo electrónico para que pueda recuperar la cuenta</span>-->
      <div class="card-content input-field">
        <td>{{ form.email.label_tag }}</td>
        <td>{{ form.email }}</td>
      </div>
       
      <input type="submit" class="btn btn-default btn-lg purple darken-2" value="Reset password">
    </div>
  </form>
{% endblock %}