{% extends "clubby/base_generic.html" %}

{% block content %}
  {% if qr_item.product != blank %}
    <h1>Product: {{ qr_item.product.name }}</h1>
    <h1>Price: {{ qr_item.product.price }}</h1>
    <h1>Club: {{ qr_item.product.club.name }}</h1>
  
 
  {% elif qr_item.ticket != blank %}
    <h1>Event: {{ qr_item.ticket.event.name }}</h1>
    <h1>Price: {{ qr_item.ticket.price }}</h1>
    <h1>Club: {{ qr_item.ticket.event.club.name }}</h1>
    <h1>Category: {{ qr_item.ticket.event.category }}</h1>
    <h1>Description: {{ qr_item.ticket.event.description }}</h1>

  {% endif %}
      {% if qr_item.is_used %}
        <p>The QR has already been used</p>
      {% else %}
        <form action="" method="post">{% csrf_token %} {{form}} Are you sure you want to redeem the QR Code?
        </br>
        <input type="submit" value="redeem">
        </form> 
      {% endif %}
{% endblock %}