{% extends "clubby/base_generic.html" %}

{% block content %}
  {% load qr_code %}
  <h1>My Purchases</h1>
  {% if user_is_broke%}
  You dont have enough to buy that, get some moolah in your profile page
  {% endif %}
  {% if object_list %}
  <ul>
    {% for qr_item in object_list %}
      {% if qr_item.product != blank %}
      <li>
        {{qr_item.product.name}}-<b>Product</b>
      </br>
      <div style="background-color:white">    
        {% qr_from_text qr_item.get_absolute_url size="M" %}
        <p>{{qr_item.priv_key}}</p>
      </div>
      </li> 
      </br>
      {% elif qr_item.ticket != blank %}
      <li>
        {{qr_item.ticket.event.name}}-<b>Ticket</b>
        <div style="background-color:white">    
        {% qr_from_text qr_item.get_absolute_url size="M" %}
        </div>
      </li> 
      {% endif %}
    {% endfor %}
  </ul>
  {% else %}
  <p>You have no purchases</p>
  {% endif %}
{% endblock %}
